body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
	text-rendering:optimizeSpeed;
}
div.Basic-Text-Frame {
	border-style:solid;
}
div.number-left-bottom {
	border-style:solid;
}
p.ParaOverride-1 {
	line-height:1;
	white-space:nowrap;
}
span.CharOverride-1 {
	color:#808078;
	font-family:"Avenir Next Heavy", sans-serif;
	font-size:850.9px;
	font-style:normal;
	font-weight:900;
	text-transform:uppercase;
}
span.CharOverride-2 {
	color:#63645c;
	font-family:"Avenir Next Condensed", sans-serif;
	font-size:765.8px;
	font-style:normal;
	font-weight:normal;
	text-transform:uppercase;
}
span.CharOverride-3 {
	color:#ec7a60;
	font-family:"Avenir Next Ultra Light", sans-serif;
	font-size:4307.6px;
	font-style:normal;
	font-weight:200;
	text-transform:uppercase;
}
span.CharOverride-4 {
	color:#ec7a60;
	font-family:"Avenir Next Ultra Light", sans-serif;
	font-size:5513.7px;
	font-style:normal;
	font-weight:200;
	text-transform:uppercase;
}
span.CharOverride-5 {
	color:#ec7a60;
	font-family:"Bodoni 72 Oldstyle", serif;
	font-size:1021.1px;
	font-style:italic;
	font-weight:normal;
}
span.CharOverride-6 {
	color:#000000;
	font-family:"Avenir Next Condensed", sans-serif;
	font-size:1508.6px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-7 {
	color:#000000;
	font-family:"Avenir Next Condensed", sans-serif;
	font-size:1705.5px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-8 {
	color:#ffffff;
	font-family:"TradeGothic CondEighteen", sans-serif;
	font-size:1508.6px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-9 {
	color:#413f36;
	font-family:"Avenir Next Demi Bold", sans-serif;
	font-size:600px;
	font-style:normal;
	font-weight:600;
}
span.CharOverride-10 {
	color:#000000;
	font-family:"Avenir Next Condensed", sans-serif;
	font-size:765.8px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-11 {
	color:#000000;
	font-family:"Avenir Next Condensed Demi Bold", sans-serif;
	font-size:765.8px;
	font-style:normal;
	font-weight:600;
}
#_idContainer000 {
	-ms-transform:translate(1125.469px,1073.664px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1125.469px,1073.664px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1004.88px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1125.469px,1073.664px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1125.469px,1073.664px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1374.53px;
}
#_idContainer001 {
	-ms-transform:translate(17.178px,1306.188px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(17.178px,1306.188px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:670.24px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(17.178px,1306.188px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(17.178px,1306.188px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1106.76px;
}
#_idContainer002 {
	-ms-transform:translate(90.889px,194.956px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(90.889px,194.956px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:93.10px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(90.889px,194.956px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(90.889px,194.956px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:673.90px;
}
#_idContainer003 {
	-ms-transform:translate(86.340px,735.018px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(86.340px,735.018px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:230.54px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(86.340px,735.018px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(86.340px,735.018px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1212.31px;
}
#_idContainer004 {
	-ms-transform:translate(71.674px,212.647px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(71.674px,212.647px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:582.18px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(71.674px,212.647px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(71.674px,212.647px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:875.88px;
}
#_idContainer005 {
	-ms-transform:translate(86.340px,938.033px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(86.340px,938.033px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:474.58px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(86.340px,938.033px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(86.340px,938.033px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:987.03px;
}
#_idContainer006 {
	-ms-transform:translate(782.305px,1424.845px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(782.305px,1424.845px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:123.90px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(782.305px,1424.845px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(782.305px,1424.845px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:85.77px;
}
#_idContainer007 {
	-ms-transform:translate(1773.395px,1844.711px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1773.395px,1844.711px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:123.90px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1773.395px,1844.711px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1773.395px,1844.711px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:85.77px;
}
#_idContainer008 {
	-ms-transform:translate(1253.669px,2153.981px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1253.669px,2153.981px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:165.53px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1253.669px,2153.981px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1253.669px,2153.981px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:160.87px;
}
#_idContainer009 {
	-ms-transform:translate(1338.757px,16.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1338.757px,16.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:994.93px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1338.757px,16.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1338.757px,16.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:878.33px;
}
#_idContainer010 {
	-ms-transform:translate(493.508px,2443.908px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(493.508px,2443.908px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:971.49px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(493.508px,2443.908px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(493.508px,2443.908px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:784.36px;
}
#_idContainer011 {
	-ms-transform:translate(1363.638px,1960.714px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1363.638px,1960.714px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1316.46px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1363.638px,1960.714px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1363.638px,1960.714px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:898.19px;
}
#_idContainer012 {
	-ms-transform:translate(-100.000px,2657.014px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(-100.000px,2657.014px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:534.19px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-100.000px,2657.014px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(-100.000px,2657.014px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:642.84px;
}
#_idContainer013 {
	-ms-transform:translate(1362.957px,903.993px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1362.957px,903.993px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:123.90px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1362.957px,903.993px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1362.957px,903.993px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:85.77px;
}
#_idContainer014 {
	-ms-transform:translate(532.693px,2466.784px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(532.693px,2466.784px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:118.39px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(532.693px,2466.784px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(532.693px,2466.784px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:85.77px;
}
#_idContainer015 {
	-ms-transform:translate(2185.387px,3037.879px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(2185.387px,3037.879px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:236.58px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(2185.387px,3037.879px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(2185.387px,3037.879px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:557.57px;
}
#_idContainer016 {
	-ms-transform:translate(142.730px,2046.879px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(142.730px,2046.879px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:666.27px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(142.730px,2046.879px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(142.730px,2046.879px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1110.94px;
}
img._idGenObjectAttribute-1 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
img._idGenObjectAttribute-2 {
	left:0px;
	position:absolute;
	top:0px;
}
