body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
	text-rendering:optimizeSpeed;
}
div.Basic-Text-Frame {
	border-style:solid;
}
p.ParaOverride-1 {
	line-height:1;
	white-space:nowrap;
}
span.CharOverride-1 {
	color:#a60444;
	font-family:"Avenir Next Heavy", sans-serif;
	font-size:2092.4px;
	font-style:normal;
	font-weight:900;
}
span.CharOverride-2 {
	color:#000000;
	font-family:"Century Old Style Std", serif;
	font-size:680px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-3 {
	color:#ab0815;
	font-family:"Avenir Next Demi Bold", sans-serif;
	font-size:760px;
	font-style:normal;
	font-weight:600;
	text-transform:uppercase;
}
span.CharOverride-4 {
	color:#413f36;
	font-family:"Avenir Next Demi Bold", sans-serif;
	font-size:560px;
	font-style:normal;
	font-weight:600;
}
span.CharOverride-5 {
	color:#ab0815;
	font-family:"Avenir Next Heavy", sans-serif;
	font-size:1314.1px;
	font-style:normal;
	font-weight:900;
	text-transform:uppercase;
}
span.CharOverride-6 {
	color:#000000;
	font-family:"Avenir Next Demi Bold", sans-serif;
	font-size:525.7px;
	font-style:normal;
	font-weight:600;
	text-transform:uppercase;
}
span.CharOverride-7 {
	color:#000000;
	font-family:"TradeGothic CondEighteen", sans-serif;
	font-size:394.2px;
	font-style:normal;
	font-weight:normal;
	text-transform:uppercase;
}
span.CharOverride-8 {
	-webkit-text-stroke-color:#ffffff;
	-webkit-text-stroke-width:5.5px;
	color:#ffffff;
	font-family:"Avenir Next Ultra Light", sans-serif;
	font-size:481.9px;
	font-style:normal;
	font-weight:200;
	text-stroke-color:#ffffff;
	text-stroke-width:5.5px;
	text-transform:uppercase;
}
span.CharOverride-9 {
	color:#ffffff;
	font-family:"Avenir Next Heavy", sans-serif;
	font-size:481.9px;
	font-style:normal;
	font-weight:900;
	text-transform:uppercase;
}
span.CharOverride-10 {
	color:#cccccc;
	font-family:"Avenir Next", sans-serif;
	font-size:350.4px;
	font-style:normal;
	font-weight:normal;
}
#_idContainer000 {
	-ms-transform:translate(0.000px,5.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,5.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:993.50px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,5.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,5.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:2483.74px;
}
#_idContainer001 {
	-ms-transform:translate(12.192px,4.543px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(12.192px,4.543px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:9.33px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(12.192px,4.543px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(12.192px,4.543px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:5.82px;
}
#_idContainer002 {
	-ms-transform:translate(0.000px,4.893px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,4.893px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:6.30px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,4.893px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,4.893px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:4.65px;
}
#_idContainer003 {
	-ms-transform:translate(4.127px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(4.127px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:10.86px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(4.127px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(4.127px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:8.80px;
}
#_idContainer004 {
	-ms-transform:translate(3.169px,4.383px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(3.169px,4.383px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:13.65px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(3.169px,4.383px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(3.169px,4.383px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:9.12px;
}
#_idContainer005 {
	-ms-transform:translate(37228.578px,50780.000px) rotate(0.000deg) skew(0.000deg) scale(20.000,20.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(37228.578px,50780.000px) rotate(0.000deg) skew(0.000deg) scale(20.000,20.000);
	-webkit-transform-origin:0% 0%;
	height:17.03px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(37228.578px,50780.000px) rotate(0.000deg) skew(0.000deg) scale(20.000,20.000);
	transform:translate(37228.578px,50780.000px) rotate(0.000deg) skew(0.000deg) scale(20.000,20.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:18.01px;
}
#_idContainer006 {
	-ms-transform:translate(187.999px,1226.491px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(187.999px,1226.491px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/5.png);
	background-repeat:no-repeat;
	background-size:cover;
	height:2736.95px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(187.999px,1226.491px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(187.999px,1226.491px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:2127.59px;
}
#_idContainer007 {
	-ms-transform:translate(57.350px,1005.162px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(57.350px,1005.162px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:126.19px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(57.350px,1005.162px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(57.350px,1005.162px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1141.34px;
}
#_idContainer008 {
	-ms-transform:translate(57.350px,1082.758px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(57.350px,1082.758px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:79.96px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(57.350px,1082.758px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(57.350px,1082.758px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:2473.49px;
}
#_idContainer009 {
	-ms-transform:translate(0.000px,91.846px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,91.846px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:60.16px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,91.846px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,91.846px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:763.26px;
}
#_idContainer010 {
	-ms-transform:translate(1222.417px,1005.162px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1222.417px,1005.162px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:84.13px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1222.417px,1005.162px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1222.417px,1005.162px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1206.26px;
}
#_idContainer011 {
	-ms-transform:translate(2457.650px,996.306px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(2457.650px,996.306px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:143.35px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(2457.650px,996.306px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(2457.650px,996.306px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:353.24px;
}
img._idGenObjectAttribute-1 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
img._idGenObjectAttribute-2 {
	left:0px;
	position:absolute;
	top:0px;
}
div._idGenObjectStyle-Disabled {
	background-color:transparent;
	border-width:0px;
}
