body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
	text-rendering:optimizeSpeed;
}
div.Basic-Text-Frame {
	border-style:solid;
}
p.ParaOverride-1 {
	line-height:1;
	white-space:nowrap;
}
span.CharOverride-1 {
	color:#d60010;
	font-family:"Avenir Next Ultra Light", sans-serif;
	font-size:3243.1px;
	font-style:normal;
	font-weight:200;
	text-transform:uppercase;
}
span.CharOverride-2 {
	color:#d60010;
	font-family:"Avenir Next Heavy", sans-serif;
	font-size:960px;
	font-style:normal;
	font-weight:900;
}
span.CharOverride-3 {
	color:#000000;
	font-family:"Avenir Next Condensed Demi Bold", sans-serif;
	font-size:480px;
	font-style:normal;
	font-weight:600;
	text-transform:uppercase;
}
span.CharOverride-4 {
	color:#d60010;
	font-family:"Avenir Next Ultra Light", sans-serif;
	font-size:3102.4px;
	font-style:normal;
	font-weight:200;
}
span.CharOverride-5 {
	color:#000000;
	font-family:"Century Old Style Std", serif;
	font-size:560px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-6 {
	color:#ffffff;
	font-family:"Avenir Next", sans-serif;
	font-size:560px;
	font-style:normal;
	font-weight:normal;
	text-transform:uppercase;
}
span.CharOverride-7 {
	color:#1e4b99;
	font-family:"Bodoni 72 Oldstyle", serif;
	font-size:800px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-8 {
	color:#1e4b99;
	font-family:"Avenir Next", sans-serif;
	font-size:560px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-9 {
	color:#000000;
	font-family:"Avenir Next", sans-serif;
	font-size:560px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-10 {
	color:#000000;
	font-family:"Avenir Next", sans-serif;
	font-size:560px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-11 {
	color:#d60010;
	font-family:"Avenir Next Heavy", sans-serif;
	font-size:1700px;
	font-style:normal;
	font-weight:900;
}
span.CharOverride-12 {
	color:#000000;
	font-family:"Century Old Style Std", serif;
	font-size:560px;
	font-style:italic;
	font-weight:normal;
}
span.CharOverride-13 {
	color:#000000;
	font-family:"Century Old Style Std", serif;
	font-size:607.2px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-14 {
	color:#413f36;
	font-family:"Avenir Next Demi Bold", sans-serif;
	font-size:571.5px;
	font-style:normal;
	font-weight:600;
}
span.CharOverride-15 {
	color:#1e4b99;
	font-family:"Bodoni 72 Oldstyle", serif;
	font-size:739.8px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-16 {
	color:#413f36;
	font-family:"Avenir Next Demi Bold", sans-serif;
	font-size:560px;
	font-style:normal;
	font-weight:600;
}
span.CharOverride-17 {
	color:#333333;
	font-family:"Avenir Next", sans-serif;
	font-size:360px;
	font-style:normal;
	font-weight:normal;
	text-transform:uppercase;
}
span.CharOverride-18 {
	color:#333333;
	font-family:"Avenir Next", sans-serif;
	font-size:560px;
	font-style:normal;
	font-weight:normal;
	text-transform:uppercase;
}
span.CharOverride-19 {
	color:#000000;
	font-family:"Century Old Style Std", serif;
	font-size:1234.6px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-20 {
	color:#808080;
	font-family:"Minion Pro", serif;
	font-size:308.6px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-21 {
	color:#373627;
	font-family:"Avenir Next Demi Bold", sans-serif;
	font-size:560px;
	font-style:normal;
	font-weight:600;
}
span.CharOverride-22 {
	color:#373627;
	font-family:"Avenir Next", sans-serif;
	font-size:560px;
	font-style:normal;
	font-weight:normal;
}
#_idContainer000 {
	-ms-transform:translate(3.865px,1555.237px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(3.865px,1555.237px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:368.80px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(3.865px,1555.237px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(3.865px,1555.237px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1519.24px;
}
#_idContainer001 {
	-ms-transform:translate(256.460px,159.724px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(256.460px,159.724px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1509.02px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(256.460px,159.724px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(256.460px,159.724px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1700.84px;
}
#_idContainer002 {
	-ms-transform:translate(2001.999px,229.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(2001.999px,229.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:520.26px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(2001.999px,229.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(2001.999px,229.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:498.00px;
}
#_idContainer003 {
	-ms-transform:translate(2001.999px,938.835px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(2001.999px,938.835px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1957.16px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(2001.999px,938.835px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(2001.999px,938.835px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:476.90px;
}
#_idContainer004 {
	-ms-transform:translate(1456.000px,1369.719px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1456.000px,1369.719px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:180.68px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1456.000px,1369.719px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1456.000px,1369.719px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:370.69px;
}
#_idContainer005 {
	-ms-transform:translate(64.000px,2623.857px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(64.000px,2623.857px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1889.73px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(64.000px,2623.857px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(64.000px,2623.857px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:351.09px;
}
#_idContainer006 {
	-ms-transform:translate(250.000px,1909.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(250.000px,1909.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:318.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(250.000px,1909.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(250.000px,1909.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:882.78px;
}
#_idContainer007 {
	-ms-transform:translate(471.541px,2624.857px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(471.541px,2624.857px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1916.02px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(471.541px,2624.857px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(471.541px,2624.857px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1.00px;
}
#_idContainer008 {
	-ms-transform:translate(546.165px,4037.882px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(546.165px,4037.882px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:899.10px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(546.165px,4037.882px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(546.165px,4037.882px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1921.48px;
}
#_idContainer009 {
	-ms-transform:translate(1033.777px,1782.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1033.777px,1782.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1552.10px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1033.777px,1782.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1033.777px,1782.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:923.22px;
}
#_idContainer010 {
	-ms-transform:translate(528.855px,2399.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(528.855px,2399.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:505.21px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(528.855px,2399.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(528.855px,2399.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:702.19px;
}
#_idContainer011 {
	-ms-transform:translate(546.165px,3116.308px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(546.165px,3116.308px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:858.69px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(546.165px,3116.308px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(546.165px,3116.308px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1410.83px;
}
#_idContainer012 {
	-ms-transform:translate(1049.731px,3334.103px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1049.731px,3334.103px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:97.90px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1049.731px,3334.103px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1049.731px,3334.103px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:907.27px;
}
#_idContainer013 {
	-ms-transform:translate(250.000px,6945.690px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(250.000px,6945.690px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:2250.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(250.000px,6945.690px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(250.000px,6945.690px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1.00px;
}
#_idContainer014 {
	-ms-transform:translate(1674.000px,8402.840px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1674.000px,8402.840px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:840.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1674.000px,8402.840px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1674.000px,8402.840px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1.00px;
}
#_idContainer015 {
	-ms-transform:translate(249.999px,7055.862px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(249.999px,7055.862px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:541.14px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(249.999px,7055.862px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(249.999px,7055.862px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:973.96px;
}
#_idContainer016 {
	-ms-transform:translate(1400.210px,7065.340px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1400.210px,7065.340px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:808.57px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1400.210px,7065.340px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1400.210px,7065.340px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1023.97px;
}
#_idContainer017 {
	-ms-transform:translate(2429.459px,7873.908px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(2429.459px,7873.908px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:126.54px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(2429.459px,7873.908px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(2429.459px,7873.908px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:473.18px;
}
#_idContainer018 {
	-ms-transform:translate(250.000px,5050.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(250.000px,5050.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1803.70px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(250.000px,5050.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(250.000px,5050.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1406.64px;
}
#_idContainer019 {
	-ms-transform:translate(1859.000px,5186.308px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1859.000px,5186.308px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1051.88px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1859.000px,5186.308px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1859.000px,5186.308px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:462.00px;
}
#_idContainer020 {
	-ms-transform:translate(1858.999px,5049.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1858.999px,5049.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:128.60px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1858.999px,5049.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1858.999px,5049.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:455.16px;
}
#_idContainer021 {
	-ms-transform:translate(1692.958px,6635.623px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1692.958px,6635.623px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:196.88px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1692.958px,6635.623px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1692.958px,6635.623px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:384.95px;
}
#_idContainer022 {
	-ms-transform:translate(1400.210px,7904.196px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1400.210px,7904.196px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:71.24px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1400.210px,7904.196px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1400.210px,7904.196px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:443.06px;
}
#_idContainer023 {
	-ms-transform:translate(546.165px,8169.872px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(546.165px,8169.872px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1180.13px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(546.165px,8169.872px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(546.165px,8169.872px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:952.17px;
}
#_idContainer024 {
	-ms-transform:translate(1300.000px,8636.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1300.000px,8636.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1111.11px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1300.000px,8636.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1300.000px,8636.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1170.63px;
}
#_idContainer025 {
	-ms-transform:translate(546.165px,9828.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(546.165px,9828.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:681.72px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(546.165px,9828.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(546.165px,9828.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:724.56px;
}
#_idContainer026 {
	-ms-transform:translate(1400.210px,9820.308px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1400.210px,9820.308px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:624.69px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1400.210px,9820.308px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1400.210px,9820.308px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1063.79px;
}
#_idContainer027 {
	-ms-transform:translate(460.648px,7912.050px) rotate(359.750deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(460.648px,7912.050px) rotate(359.750deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:2637.98px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(460.648px,7912.050px) rotate(359.750deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(460.648px,7912.050px) rotate(359.750deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:12.06px;
}
#_idContainer028 {
	-ms-transform:translate(546.165px,9481.623px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(546.165px,9481.623px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:224.46px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(546.165px,9481.623px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(546.165px,9481.623px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:571.29px;
}
#_idContainer029, #_idContainer045 {
	-ms-transform:translate(6.289px,1.859px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(6.289px,1.859px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:5.78px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(6.289px,1.859px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(6.289px,1.859px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:3.00px;
}
#_idContainer030, #_idContainer046 {
	-ms-transform:translate(-0.001px,1.524px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(-0.001px,1.524px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:5.25px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-0.001px,1.524px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(-0.001px,1.524px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:3.00px;
}
#_idContainer031, #_idContainer047 {
	-ms-transform:translate(2.128px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(2.128px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:5.60px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(2.128px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(2.128px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:4.54px;
}
#_idContainer032, #_idContainer048 {
	-ms-transform:translate(1.634px,1.776px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1.634px,1.776px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:8.01px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1.634px,1.776px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1.634px,1.776px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:4.71px;
}
#_idContainer033 {
	-ms-transform:translate(4305.202px,46439.734px) rotate(0.000deg) skew(0.000deg) scale(20.000,20.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(4305.202px,46439.734px) rotate(0.000deg) skew(0.000deg) scale(20.000,20.000);
	-webkit-transform-origin:0% 0%;
	height:8.79px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(4305.202px,46439.734px) rotate(0.000deg) skew(0.000deg) scale(20.000,20.000);
	transform:translate(4305.202px,46439.734px) rotate(0.000deg) skew(0.000deg) scale(20.000,20.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:9.29px;
}
#_idContainer034 {
	-ms-transform:translate(63.999px,8168.871px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(63.999px,8168.871px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:2427.19px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(63.999px,8168.871px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(63.999px,8168.871px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:351.64px;
}
#_idContainer035 {
	-ms-transform:translate(149.000px,7749.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(149.000px,7749.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:491.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(149.000px,7749.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(149.000px,7749.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:351.09px;
}
#_idContainer036 {
	-ms-transform:translate(343.660px,8228.253px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(343.660px,8228.253px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:52.34px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(343.660px,8228.253px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(343.660px,8228.253px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:168.25px;
}
#_idContainer037 {
	-ms-transform:translate(64.000px,10791.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(64.000px,10791.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1144.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(64.000px,10791.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(64.000px,10791.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:2400.00px;
}
#_idContainer038 {
	-ms-transform:translate(250.000px,11825.326px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(250.000px,11825.326px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:133.97px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(250.000px,11825.326px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(250.000px,11825.326px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:399.91px;
}
#_idContainer039 {
	-ms-transform:translate(980.000px,10663.840px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(980.000px,10663.840px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:840.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(980.000px,10663.840px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(980.000px,10663.840px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1.00px;
}
#_idContainer040 {
	-ms-transform:translate(546.165px,12050.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(546.165px,12050.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:155.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(546.165px,12050.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(546.165px,12050.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:640.79px;
}
#_idContainer041 {
	-ms-transform:translate(546.165px,12253.308px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(546.165px,12253.308px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:858.69px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(546.165px,12253.308px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(546.165px,12253.308px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1917.83px;
}
#_idContainer042 {
	-ms-transform:translate(137.892px,13168.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(137.892px,13168.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:752.90px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(137.892px,13168.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(137.892px,13168.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1361.19px;
}
#_idContainer043 {
	-ms-transform:translate(1151.167px,13749.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1151.167px,13749.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:752.90px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1151.167px,13749.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1151.167px,13749.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:460.02px;
}
#_idContainer044 {
	-ms-transform:translate(1897.000px,12402.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1897.000px,12402.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:589.37px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1897.000px,12402.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1897.000px,12402.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:567.00px;
}
#_idContainer049 {
	-ms-transform:translate(3119.709px,45435.607px) rotate(0.000deg) skew(0.000deg) scale(20.000,20.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(3119.709px,45435.607px) rotate(0.000deg) skew(0.000deg) scale(20.000,20.000);
	-webkit-transform-origin:0% 0%;
	height:8.79px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(3119.709px,45435.607px) rotate(0.000deg) skew(0.000deg) scale(20.000,20.000);
	transform:translate(3119.709px,45435.607px) rotate(0.000deg) skew(0.000deg) scale(20.000,20.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:9.29px;
}
#_idContainer050 {
	-ms-transform:translate(2001.999px,13072.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(2001.999px,13072.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:2524.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(2001.999px,13072.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(2001.999px,13072.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:462.00px;
}
img._idGenObjectAttribute-1 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
img._idGenObjectAttribute-2 {
	left:0px;
	position:absolute;
	top:0px;
}
div._idGenObjectStyle-Disabled {
	background-color:transparent;
	border-width:0px;
}
