body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
	text-rendering:optimizeSpeed;
}
div.Basic-Text-Frame {
	border-style:solid;
}
p.ParaOverride-1 {
	line-height:1;
	white-space:nowrap;
}
span.CharOverride-1 {
	color:#a53a20;
	font-family:"Avenir Next Ultra Light", sans-serif;
	font-size:1033.6px;
	font-style:normal;
	font-weight:200;
	text-transform:uppercase;
}
span.CharOverride-2 {
	color:#a53a20;
	font-family:"Avenir Next Heavy", sans-serif;
	font-size:182.7px;
	font-style:normal;
	font-weight:900;
	text-transform:uppercase;
}
span.CharOverride-3 {
	color:#a53a20;
	font-family:"Avenir Next Heavy", sans-serif;
	font-size:201px;
	font-style:normal;
	font-weight:900;
}
span.CharOverride-4 {
	color:#b75b3c;
	font-family:"Avenir Next Condensed Demi Bold", sans-serif;
	font-size:157.3px;
	font-style:normal;
	font-weight:600;
	text-transform:uppercase;
}
span.CharOverride-5 {
	-webkit-text-stroke-color:#a53a20;
	-webkit-text-stroke-width:1.3px;
	color:#c77b5b;
	font-family:"Avenir Next Ultra Light", sans-serif;
	font-size:115.8px;
	font-style:normal;
	font-weight:200;
	text-stroke-color:#a53a20;
	text-stroke-width:1.3px;
	text-transform:uppercase;
}
span.CharOverride-6 {
	color:#a53a20;
	font-family:"Avenir Next Heavy", sans-serif;
	font-size:115.8px;
	font-style:normal;
	font-weight:900;
	text-transform:uppercase;
}
span.CharOverride-7 {
	color:#a53a20;
	font-family:"Avenir Next Heavy", sans-serif;
	font-size:2092.4px;
	font-style:normal;
	font-weight:900;
}
span.CharOverride-8 {
	color:#a60444;
	font-family:"Avenir Next Heavy", sans-serif;
	font-size:2092.4px;
	font-style:normal;
	font-weight:900;
}
span.CharOverride-9 {
	color:#000000;
	font-family:"Century Old Style Std", serif;
	font-size:680px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-10 {
	color:#c84326;
	font-family:"Avenir Next Demi Bold", sans-serif;
	font-size:760px;
	font-style:normal;
	font-weight:600;
	text-transform:uppercase;
}
span.CharOverride-11 {
	color:#a53a20;
	font-family:"Avenir Next Demi Bold", sans-serif;
	font-size:760px;
	font-style:normal;
	font-weight:600;
	text-transform:uppercase;
}
span.CharOverride-12 {
	color:#413f36;
	font-family:"Avenir Next Demi Bold", sans-serif;
	font-size:560px;
	font-style:normal;
	font-weight:600;
}
span.CharOverride-13 {
	color:#a53a20;
	font-family:"Avenir Next Heavy", sans-serif;
	font-size:500px;
	font-style:normal;
	font-weight:900;
}
span.CharOverride-14 {
	color:#a53a20;
	font-family:"Avenir Next Heavy", sans-serif;
	font-size:580px;
	font-style:normal;
	font-weight:900;
	text-transform:uppercase;
}
span.CharOverride-15 {
	color:#a53a20;
	font-family:"Avenir Next Medium", sans-serif;
	font-size:400px;
	font-style:normal;
	font-weight:500;
	text-transform:uppercase;
}
span.CharOverride-16 {
	color:#bb244b;
	font-family:"Avenir Next Medium", sans-serif;
	font-size:400px;
	font-style:normal;
	font-weight:500;
	text-transform:uppercase;
}
span.CharOverride-17 {
	color:#a53a20;
	font-family:"Avenir Next Demi Bold", sans-serif;
	font-size:400px;
	font-style:normal;
	font-weight:600;
	text-transform:uppercase;
}
#_idContainer000 {
	-ms-transform:translate(0.000px,20.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,20.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:421.73px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,20.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,20.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:377.71px;
}
#_idContainer001 {
	-ms-transform:translate(375.000px,123.077px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(375.000px,123.077px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:149.01px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(375.000px,123.077px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(375.000px,123.077px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:156.07px;
}
#_idContainer002 {
	-ms-transform:translate(388.162px,249.041px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(388.162px,249.041px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:78.58px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(388.162px,249.041px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(388.162px,249.041px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:146.27px;
}
#_idContainer003 {
	-ms-transform:translate(23.162px,39.976px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(23.162px,39.976px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:15.98px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(23.162px,39.976px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(23.162px,39.976px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:183.45px;
}
#_idContainer004 {
	-ms-transform:translate(35.999px,2643.491px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(35.999px,2643.491px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/4.png);
	background-repeat:no-repeat;
	background-size:cover;
	height:8907.51px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(35.999px,2643.491px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(35.999px,2643.491px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:441.00px;
}
#_idContainer005 {
	-ms-transform:translate(150.999px,491.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(150.999px,491.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:196.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(150.999px,491.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(150.999px,491.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:366.90px;
}
#_idContainer006 {
	-ms-transform:translate(17.904px,734.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(17.904px,734.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:735.69px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(17.904px,734.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(17.904px,734.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:500.00px;
}
#_idContainer007 {
	-ms-transform:translate(38.991px,1343.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(38.991px,1343.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1234.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(38.991px,1343.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(38.991px,1343.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:459.01px;
}
#_idContainer008 {
	-ms-transform:translate(6.289px,1.859px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(6.289px,1.859px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:5.78px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(6.289px,1.859px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(6.289px,1.859px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:3.00px;
}
#_idContainer009 {
	-ms-transform:translate(-0.001px,2.524px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(-0.001px,2.524px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:3.25px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-0.001px,2.524px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(-0.001px,2.524px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:2.40px;
}
#_idContainer010 {
	-ms-transform:translate(2.128px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(2.128px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:5.60px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(2.128px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(2.128px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:4.54px;
}
#_idContainer011 {
	-ms-transform:translate(1.634px,1.776px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1.634px,1.776px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:8.01px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1.634px,1.776px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1.634px,1.776px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:4.71px;
}
#_idContainer012 {
	-ms-transform:translate(2578.526px,22246.299px) rotate(0.000deg) skew(0.000deg) scale(20.000,20.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(2578.526px,22246.299px) rotate(0.000deg) skew(0.000deg) scale(20.000,20.000);
	-webkit-transform-origin:0% 0%;
	height:8.79px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(2578.526px,22246.299px) rotate(0.000deg) skew(0.000deg) scale(20.000,20.000);
	transform:translate(2578.526px,22246.299px) rotate(0.000deg) skew(0.000deg) scale(20.000,20.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:9.29px;
}
#_idContainer013 {
	-ms-transform:translate(38.991px,1367.238px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(38.991px,1367.238px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1180.76px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(38.991px,1367.238px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(38.991px,1367.238px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:459.01px;
}
img._idGenObjectAttribute-1 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
img._idGenObjectAttribute-2 {
	left:0px;
	position:absolute;
	top:0px;
}
div._idGenObjectStyle-Disabled {
	background-color:transparent;
	border-width:0px;
}
