body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
	text-rendering:optimizeSpeed;
}
div.Basic-Text-Frame {
	border-style:solid;
}
p.ParaOverride-1 {
	line-height:1;
	white-space:nowrap;
}
span.CharOverride-1 {
	color:#000000;
	font-family:"Century Old Style Std", serif;
	font-size:560px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-2 {
	color:#413f36;
	font-family:"Avenir Next Demi Bold", sans-serif;
	font-size:560px;
	font-style:normal;
	font-weight:600;
}
span.CharOverride-3 {
	color:#000000;
	font-family:TradeGothic, sans-serif;
	font-size:748.2px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-4 {
	color:#a60444;
	font-family:"Avenir Next Heavy", sans-serif;
	font-size:859px;
	font-style:normal;
	font-weight:900;
	text-transform:uppercase;
}
span.CharOverride-5 {
	color:#a60444;
	font-family:"Avenir Next Ultra Light", sans-serif;
	font-size:5755.6px;
	font-style:normal;
	font-weight:200;
	text-transform:uppercase;
}
span.CharOverride-6 {
	color:#000000;
	font-family:"Bodoni 72 Oldstyle", serif;
	font-size:1629.1px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-7 {
	color:#000000;
	font-family:"Bodoni 72 Oldstyle", serif;
	font-size:2316.3px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-8 {
	color:#000000;
	font-family:TradeGothic, sans-serif;
	font-size:2316.3px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-9 {
	color:#000000;
	font-family:"Avenir Next Condensed", sans-serif;
	font-size:773.1px;
	font-style:normal;
	font-weight:normal;
	text-transform:uppercase;
}
#_idContainer000 {
	-ms-transform:translate(1441.573px,879.274px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1441.573px,879.274px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:389.15px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1441.573px,879.274px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1441.573px,879.274px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:842.06px;
}
#_idContainer004 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:45.88px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:45.88px;
}
#_idContainer005 {
	-ms-transform:translate(16.277px,8.602px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(16.277px,8.602px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:28.68px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(16.277px,8.602px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(16.277px,8.602px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:13.33px;
}
#_idContainer006 {
	-ms-transform:translate(8157.377px,217.026px) rotate(0.000deg) skew(0.000deg) scale(20.000,20.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(8157.377px,217.026px) rotate(0.000deg) skew(0.000deg) scale(20.000,20.000);
	-webkit-transform-origin:0% 0%;
	height:45.88px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(8157.377px,217.026px) rotate(0.000deg) skew(0.000deg) scale(20.000,20.000);
	transform:translate(8157.377px,217.026px) rotate(0.000deg) skew(0.000deg) scale(20.000,20.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:45.88px;
}
#_idContainer001 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:45.92px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:45.54px;
}
#_idContainer002 {
	-ms-transform:translate(8.537px,11.297px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(8.537px,11.297px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:23.33px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(8.537px,11.297px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(8.537px,11.297px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:28.46px;
}
#_idContainer003 {
	-ms-transform:translate(0.000px,290.513px) rotate(0.000deg) skew(0.000deg) scale(20.000,20.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,290.513px) rotate(0.000deg) skew(0.000deg) scale(20.000,20.000);
	-webkit-transform-origin:0% 0%;
	height:45.92px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,290.513px) rotate(0.000deg) skew(0.000deg) scale(20.000,20.000);
	transform:translate(0.000px,290.513px) rotate(0.000deg) skew(0.000deg) scale(20.000,20.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:45.54px;
}
#_idContainer007 {
	-ms-transform:translate(1117.777px,3084.372px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1117.777px,3084.372px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:135.38px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1117.777px,3084.372px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1117.777px,3084.372px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1342.18px;
}
#_idContainer008 {
	-ms-transform:translate(40.295px,108.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(40.295px,108.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:143.49px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(40.295px,108.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(40.295px,108.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:892.09px;
}
#_idContainer009 {
	-ms-transform:translate(162.497px,211.043px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(162.497px,211.043px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:450.94px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(162.497px,211.043px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(162.497px,211.043px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:2373.50px;
}
#_idContainer010 {
	-ms-transform:translate(104.895px,3005.619px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(104.895px,3005.619px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:191.82px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(104.895px,3005.619px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(104.895px,3005.619px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1173.97px;
}
#_idContainer011 {
	-ms-transform:translate(1439.168px,597.721px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1439.168px,597.721px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:88.80px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1439.168px,597.721px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1439.168px,597.721px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:892.09px;
}
#_idContainer012 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:45.37px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:45.37px;
}
#_idContainer013 {
	-ms-transform:translate(8.507px,8.507px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(8.507px,8.507px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:28.36px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(8.507px,8.507px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(8.507px,8.507px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:28.36px;
}
#_idContainer014 {
	-ms-transform:translate(1846.116px,3101.906px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1846.116px,3101.906px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:45.37px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1846.116px,3101.906px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1846.116px,3101.906px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:45.37px;
}
#_idContainer015 {
	-ms-transform:translate(1397.719px,957.201px) rotate(180.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1397.719px,957.201px) rotate(180.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:66.71px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1397.719px,957.201px) rotate(180.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1397.719px,957.201px) rotate(180.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:68.29px;
}
#_idContainer016 {
	-ms-transform:translate(1397.719px,2720.460px) rotate(180.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1397.719px,2720.460px) rotate(180.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:66.71px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1397.719px,2720.460px) rotate(180.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1397.719px,2720.460px) rotate(180.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:68.29px;
}
#_idContainer017 {
	-ms-transform:translate(1340.093px,2386.764px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1340.093px,2386.764px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:68.71px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1340.093px,2386.764px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1340.093px,2386.764px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:68.29px;
}
#_idContainer018 {
	-ms-transform:translate(6.289px,1.859px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(6.289px,1.859px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:5.78px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(6.289px,1.859px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(6.289px,1.859px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:3.00px;
}
#_idContainer019 {
	-ms-transform:translate(-0.001px,1.524px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(-0.001px,1.524px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:5.25px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-0.001px,1.524px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(-0.001px,1.524px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:3.00px;
}
#_idContainer020 {
	-ms-transform:translate(2.128px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(2.128px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:5.60px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(2.128px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(2.128px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:4.54px;
}
#_idContainer021 {
	-ms-transform:translate(1.634px,1.776px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1.634px,1.776px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:8.01px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1.634px,1.776px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1.634px,1.776px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:4.71px;
}
#_idContainer022 {
	-ms-transform:translate(9609.454px,2053.818px) rotate(0.000deg) skew(0.000deg) scale(20.000,20.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(9609.454px,2053.818px) rotate(0.000deg) skew(0.000deg) scale(20.000,20.000);
	-webkit-transform-origin:0% 0%;
	height:8.79px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(9609.454px,2053.818px) rotate(0.000deg) skew(0.000deg) scale(20.000,20.000);
	transform:translate(9609.454px,2053.818px) rotate(0.000deg) skew(0.000deg) scale(20.000,20.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:9.29px;
}
#_idContainer023 {
	-ms-transform:translate(1329.432px,2743.215px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1329.432px,2743.215px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:237.29px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1329.432px,2743.215px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1329.432px,2743.215px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:857.45px;
}
#_idContainer024 {
	-ms-transform:translate(1441.573px,2306.053px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1441.573px,2306.053px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:293.21px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1441.573px,2306.053px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1441.573px,2306.053px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:842.06px;
}
#_idContainer025 {
	-ms-transform:translate(196.858px,758.109px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(196.858px,758.109px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1332.73px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(196.858px,758.109px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(196.858px,758.109px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1095.75px;
}
#_idContainer026 {
	-ms-transform:translate(196.858px,2134.376px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(196.858px,2134.376px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:797.88px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(196.858px,2134.376px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(196.858px,2134.376px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1090.85px;
}
#_idContainer027 {
	-ms-transform:translate(1331.626px,1238.246px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1331.626px,1238.246px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1039.68px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1331.626px,1238.246px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1331.626px,1238.246px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1029.71px;
}
img._idGenObjectAttribute-1 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
img._idGenObjectAttribute-2 {
	left:0px;
	position:absolute;
	top:0px;
}
div._idGenObjectStyle-Disabled {
	background-color:transparent;
	border-width:0px;
}
