body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
	text-rendering:optimizeSpeed;
}
div.Basic-Text-Frame {
	border-style:solid;
}
div.labyrinths {
	border-style:solid;
}
p.ParaOverride-1 {
	line-height:1;
	white-space:nowrap;
}
span.CharOverride-1 {
	color:#f09026;
	font-family:"Avenir Next Condensed Demi Bold", sans-serif;
	font-size:220px;
	font-style:normal;
	font-weight:600;
	text-transform:uppercase;
}
span.CharOverride-2 {
	color:#e38b0e;
	font-family:"Leonardo Ultra Light", sans-serif;
	font-size:1952.4px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-3 {
	color:#e38b0e;
	font-family:"Bodoni 72 Oldstyle", serif;
	font-size:485.5px;
	font-style:normal;
	font-weight:bold;
	text-transform:uppercase;
}
span.CharOverride-4 {
	color:#e38b0e;
	font-family:Leonardo, sans-serif;
	font-size:485.5px;
	font-style:normal;
	font-weight:normal;
	text-transform:uppercase;
}
span.CharOverride-5 {
	color:#e38b0e;
	font-family:"Bodoni 72 Oldstyle", serif;
	font-size:287.7px;
	font-style:normal;
	font-weight:normal;
	text-transform:uppercase;
}
span.CharOverride-6 {
	color:#000000;
	font-family:"Century Old Style Std", serif;
	font-size:400px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-7 {
	color:#df8100;
	font-family:"Avenir Next Demi Bold", sans-serif;
	font-size:960px;
	font-style:normal;
	font-weight:600;
}
span.CharOverride-8 {
	color:#413f36;
	font-family:"Avenir Next Demi Bold", sans-serif;
	font-size:560px;
	font-style:normal;
	font-weight:600;
}
span.CharOverride-9 {
	color:#df8100;
	font-family:"Avenir Next Heavy", sans-serif;
	font-size:250.9px;
	font-style:normal;
	font-weight:900;
}
span.CharOverride-10 {
	color:#cccccc;
	font-family:"Futura Bk BT", sans-serif;
	font-size:146.3px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-11 {
	color:#e6e6e6;
	font-family:"Futura Bk BT", sans-serif;
	font-size:146.3px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-12 {
	color:#333333;
	font-family:"Futura Bk BT", sans-serif;
	font-size:146.3px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-13 {
	color:#f6c889;
	font-family:Leonardo, sans-serif;
	font-size:5826.4px;
	font-style:normal;
	font-weight:normal;
	text-transform:uppercase;
}
span.CharOverride-14 {
	color:#1e4b99;
	font-family:"Bodoni 72 Oldstyle", serif;
	font-size:800px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-15 {
	color:#1e4b99;
	font-family:"Avenir Next", sans-serif;
	font-size:400px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-16 {
	color:#000000;
	font-family:"Avenir Next", sans-serif;
	font-size:400px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-17 {
	color:#000000;
	font-family:"Avenir Next Demi Bold", sans-serif;
	font-size:400px;
	font-style:normal;
	font-weight:600;
}
#_idContainer000 {
	-ms-transform:translate(17.000px,17.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(17.000px,17.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:375.01px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(17.000px,17.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(17.000px,17.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:500.00px;
}
#_idContainer001 {
	-ms-transform:translate(158.408px,311.613px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(158.408px,311.613px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:28.28px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(158.408px,311.613px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(158.408px,311.613px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:204.47px;
}
#_idContainer002 {
	-ms-transform:translate(74.086px,230.665px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(74.086px,230.665px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:111.91px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(74.086px,230.665px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(74.086px,230.665px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:84.00px;
}
#_idContainer003 {
	-ms-transform:translate(158.081px,268.316px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(158.081px,268.316px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:45.49px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(158.081px,268.316px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(158.081px,268.316px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:358.92px;
}
#_idContainer004 {
	-ms-transform:translate(6.289px,1.859px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(6.289px,1.859px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:5.78px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(6.289px,1.859px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(6.289px,1.859px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:3.00px;
}
#_idContainer005 {
	-ms-transform:translate(-0.001px,1.524px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(-0.001px,1.524px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:5.25px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-0.001px,1.524px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(-0.001px,1.524px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:3.00px;
}
#_idContainer006 {
	-ms-transform:translate(2.128px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(2.128px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:5.60px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(2.128px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(2.128px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:4.54px;
}
#_idContainer007 {
	-ms-transform:translate(1.634px,1.776px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1.634px,1.776px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:8.01px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1.634px,1.776px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1.634px,1.776px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:4.71px;
}
#_idContainer008 {
	-ms-transform:translate(8125.552px,60731.099px) rotate(0.000deg) skew(0.000deg) scale(20.000,20.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(8125.552px,60731.099px) rotate(0.000deg) skew(0.000deg) scale(20.000,20.000);
	-webkit-transform-origin:0% 0%;
	height:8.79px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(8125.552px,60731.099px) rotate(0.000deg) skew(0.000deg) scale(20.000,20.000);
	transform:translate(8125.552px,60731.099px) rotate(0.000deg) skew(0.000deg) scale(20.000,20.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:9.29px;
}
#_idContainer009 {
	-ms-transform:translate(36.000px,414.220px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(36.000px,414.220px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:3084.78px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(36.000px,414.220px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(36.000px,414.220px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:462.00px;
}
#_idContainer010 {
	-ms-transform:translate(17.000px,3521.685px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(17.000px,3521.685px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:244.75px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(17.000px,3521.685px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(17.000px,3521.685px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:244.75px;
}
#_idContainer011 {
	-ms-transform:translate(17.000px,3770.452px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(17.000px,3770.452px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:244.75px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(17.000px,3770.452px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(17.000px,3770.452px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:244.75px;
}
#_idContainer012 {
	-ms-transform:translate(17.000px,4019.219px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(17.000px,4019.219px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:244.75px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(17.000px,4019.219px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(17.000px,4019.219px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:244.75px;
}
#_idContainer013 {
	-ms-transform:translate(265.767px,3521.685px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(265.767px,3521.685px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:244.75px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(265.767px,3521.685px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(265.767px,3521.685px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:244.75px;
}
#_idContainer014 {
	-ms-transform:translate(265.767px,3770.452px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(265.767px,3770.452px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:244.75px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(265.767px,3770.452px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(265.767px,3770.452px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:244.75px;
}
#_idContainer015 {
	-ms-transform:translate(265.767px,4019.219px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(265.767px,4019.219px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:244.75px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(265.767px,4019.219px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(265.767px,4019.219px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:244.75px;
}
#_idContainer016 {
	-ms-transform:translate(242.562px,3738.049px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(242.562px,3738.049px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:24.83px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(242.562px,3738.049px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(242.562px,3738.049px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:30.00px;
}
#_idContainer017 {
	-ms-transform:translate(242.939px,3746.629px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(242.939px,3746.629px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACcAAAArCAYAAAD7YZFOAAAACXBIWXMAABcRAAAXEQHKJvM/AAAAXklEQVRYR+3ZMQ7AMAzDQKXIx/vwwn1CAC7RwJs9EFq9ZiatntPBTTv5aqerXs44yjjKOMo4yjjKOMo4yjjKOMo4yjjKOMo4yjjKOMo4yjjKOKo6bid5T0e3rOYPzg/WJQjQEBg1AgAAAABJRU5ErkJggg==);
	background-repeat:no-repeat;
	background-size:cover;
	height:20.81px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(242.939px,3746.629px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(242.939px,3746.629px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:18.81px;
}
#_idContainer018 {
	-ms-transform:translate(242.939px,3995.393px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(242.939px,3995.393px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACcAAAArCAYAAAD7YZFOAAAACXBIWXMAABcRAAAXEQHKJvM/AAAAXklEQVRYR+3ZMQ7AMAzDQKXIx/vwwn1CAC7RwJs9EFq9ZiatntPBTTv5aqerXs44yjjKOMo4yjjKOMo4yjjKOMo4yjjKOMo4yjjKOMo4yjjKOKo6bid5T0e3rOYPzg/WJQjQEBg1AgAAAABJRU5ErkJggg==);
	background-repeat:no-repeat;
	background-size:cover;
	height:20.81px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(242.939px,3995.393px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(242.939px,3995.393px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:18.81px;
}
#_idContainer019 {
	-ms-transform:translate(242.939px,4244.160px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(242.939px,4244.160px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACcAAAArCAYAAAD7YZFOAAAACXBIWXMAABcRAAAXEQHKJvM/AAAAXklEQVRYR+3ZMQ7AMAzDQKXIx/vwwn1CAC7RwJs9EFq9ZiatntPBTTv5aqerXs44yjjKOMo4yjjKOMo4yjjKOMo4yjjKOMo4yjjKOMo4yjjKOKo6bid5T0e3rOYPzg/WJQjQEBg1AgAAAABJRU5ErkJggg==);
	background-repeat:no-repeat;
	background-size:cover;
	height:20.81px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(242.939px,4244.160px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(242.939px,4244.160px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:18.81px;
}
#_idContainer020 {
	-ms-transform:translate(265.599px,3746.629px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(265.599px,3746.629px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACcAAAArCAYAAAD7YZFOAAAACXBIWXMAABcRAAAXEQHKJvM/AAAAXUlEQVRYR+3ZsQ0AMQzDQOWRxTO5f4QAbKKCV7sg1HrNTFp9t4OXdpLa6aqXM44yjjKOMo4yjjKOMo4yjjKOMo4yjjKOMo4yjjKOMo4yjjKOqo7bSc7t6JXV/MH5Af4UB9MKPTjjAAAAAElFTkSuQmCC);
	background-repeat:no-repeat;
	background-size:cover;
	height:20.81px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(265.599px,3746.629px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(265.599px,3746.629px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:18.81px;
}
#_idContainer021 {
	-ms-transform:translate(265.505px,3995.393px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(265.505px,3995.393px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACcAAAArCAYAAAD7YZFOAAAACXBIWXMAABcRAAAXEQHKJvM/AAAAXUlEQVRYR+3ZsQ0AMQzDQOWRxTO5f4QAbKKCV7sg1HrNTFp9t4OXdpLa6aqXM44yjjKOMo4yjjKOMo4yjjKOMo4yjjKOMo4yjjKOMo4yjjKOqo7bSc7t6JXV/MH5Af4UB9MKPTjjAAAAAElFTkSuQmCC);
	background-repeat:no-repeat;
	background-size:cover;
	height:20.81px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(265.505px,3995.393px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(265.505px,3995.393px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:18.81px;
}
#_idContainer022 {
	-ms-transform:translate(265.505px,4244.160px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(265.505px,4244.160px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACcAAAArCAYAAAD7YZFOAAAACXBIWXMAABcRAAAXEQHKJvM/AAAAXUlEQVRYR+3ZsQ0AMQzDQOWRxTO5f4QAbKKCV7sg1HrNTFp9t4OXdpLa6aqXM44yjjKOMo4yjjKOMo4yjjKOMo4yjjKOMo4yjjKOMo4yjjKOqo7bSc7t6JXV/MH5Af4UB9MKPTjjAAAAAElFTkSuQmCC);
	background-repeat:no-repeat;
	background-size:cover;
	height:20.81px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(265.505px,4244.160px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(265.505px,4244.160px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:18.81px;
}
#_idContainer023 {
	-ms-transform:translate(500.967px,3565.731px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(500.967px,3565.731px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:17.03px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(500.967px,3565.731px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(500.967px,3565.731px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:67.73px;
}
#_idContainer024 {
	-ms-transform:translate(500.967px,3815.360px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(500.967px,3815.360px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:17.03px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(500.967px,3815.360px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(500.967px,3815.360px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:67.73px;
}
#_idContainer025 {
	-ms-transform:translate(500.967px,4083.985px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(500.967px,4083.985px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:17.03px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(500.967px,4083.985px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(500.967px,4083.985px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:67.73px;
}
#_idContainer026 {
	-ms-transform:translate(14.513px,3565.731px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(14.513px,3565.731px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:17.03px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(14.513px,3565.731px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(14.513px,3565.731px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:67.73px;
}
#_idContainer027 {
	-ms-transform:translate(14.513px,3815.360px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(14.513px,3815.360px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:17.03px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(14.513px,3815.360px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(14.513px,3815.360px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:67.73px;
}
#_idContainer028 {
	-ms-transform:translate(14.513px,4063.080px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(14.513px,4063.080px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:17.03px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(14.513px,4063.080px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(14.513px,4063.080px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:67.73px;
}
#_idContainer029 {
	-ms-transform:translate(-16.001px,4284.995px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(-16.001px,4284.995px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:400.53px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-16.001px,4284.995px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(-16.001px,4284.995px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:517.38px;
}
#_idContainer030 {
	-ms-transform:translate(32.078px,4360.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(32.078px,4360.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1196.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(32.078px,4360.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(32.078px,4360.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:501.92px;
}
img._idGenObjectAttribute-1 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
img._idGenObjectAttribute-2 {
	left:0px;
	position:absolute;
	top:0px;
}
div._idGenObjectStyle-Disabled {
	background-color:transparent;
	border-width:0px;
}
