body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
	text-rendering:optimizeSpeed;
}
div.Basic-Text-Frame {
	border-style:solid;
}
p.ParaOverride-1 {
	line-height:1;
	white-space:nowrap;
}
span.CharOverride-1 {
	-webkit-text-stroke-color:#096e91;
	-webkit-text-stroke-width:2.4px;
	color:#096e91;
	font-family:"Bodoni 72 Oldstyle", serif;
	font-size:1225.5px;
	font-style:normal;
	font-weight:normal;
	text-stroke-color:#096e91;
	text-stroke-width:2.4px;
	text-transform:uppercase;
}
span.CharOverride-2 {
	color:#000000;
	font-family:"Avenir Next", sans-serif;
	font-size:848.4px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-3 {
	color:#413f36;
	font-family:"Avenir Next Demi Bold", sans-serif;
	font-size:840px;
	font-style:normal;
	font-weight:600;
}
span.CharOverride-4 {
	-webkit-text-stroke-color:#096e91;
	-webkit-text-stroke-width:2.4px;
	color:#096e91;
	font-family:"Bodoni 72 Oldstyle", serif;
	font-size:1885.4px;
	font-style:normal;
	font-weight:normal;
	text-stroke-color:#096e91;
	text-stroke-width:2.4px;
	text-transform:uppercase;
}
span.CharOverride-5 {
	color:#58658e;
	font-family:"Avenir Next Medium", sans-serif;
	font-size:1225.5px;
	font-style:normal;
	font-weight:500;
}
span.CharOverride-6 {
	color:#000000;
	font-family:"Avenir Next Condensed Demi Bold", sans-serif;
	font-size:900px;
	font-style:normal;
	font-weight:600;
	text-transform:uppercase;
}
span.CharOverride-7 {
	color:#485a85;
	font-family:"Avenir Next Heavy", sans-serif;
	font-size:942.7px;
	font-style:normal;
	font-weight:900;
	text-transform:uppercase;
}
span.CharOverride-8 {
	color:#262626;
	font-family:"Futura BT Book", sans-serif;
	font-size:659.9px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-9 {
	color:#cccccc;
	font-family:"Futura BT Book", sans-serif;
	font-size:659.9px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-10 {
	-webkit-text-stroke-color:#096e91;
	-webkit-text-stroke-width:2.3px;
	color:#096e91;
	font-family:"Bodoni 72 Oldstyle", serif;
	font-size:1205.4px;
	font-style:normal;
	font-weight:normal;
	text-stroke-color:#096e91;
	text-stroke-width:2.3px;
	text-transform:uppercase;
}
span.CharOverride-11 {
	color:#000000;
	font-family:"Avenir Next", sans-serif;
	font-size:834.5px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-12 {
	color:#000000;
	font-family:"Avenir Next", sans-serif;
	font-size:840px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-13 {
	color:#000000;
	font-family:"Avenir Next", sans-serif;
	font-size:600.3px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-14 {
	color:#cccccc;
	font-family:"Futura BT Book", sans-serif;
	font-size:649px;
	font-style:normal;
	font-weight:normal;
}
#_idContainer000 {
	-ms-transform:translate(96.119px,1625.308px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(96.119px,1625.308px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:958.17px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(96.119px,1625.308px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(96.119px,1625.308px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1048.15px;
}
#_idContainer001 {
	-ms-transform:translate(616.835px,3101.697px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(616.835px,3101.697px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:507.08px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(616.835px,3101.697px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(616.835px,3101.697px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:508.58px;
}
#_idContainer002 {
	-ms-transform:translate(1919.260px,3101.697px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1919.260px,3101.697px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:507.08px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1919.260px,3101.697px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1919.260px,3101.697px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:508.58px;
}
#_idContainer003 {
	-ms-transform:translate(100.243px,3101.697px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(100.243px,3101.697px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:507.08px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(100.243px,3101.697px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(100.243px,3101.697px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:504.93px;
}
#_idContainer004 {
	-ms-transform:translate(1402.669px,3101.697px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1402.669px,3101.697px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:507.08px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1402.669px,3101.697px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1402.669px,3101.697px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:504.93px;
}
#_idContainer005 {
	-ms-transform:translate(96.119px,2582.474px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(96.119px,2582.474px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:509.05px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(96.119px,2582.474px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(96.119px,2582.474px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:509.05px;
}
#_idContainer006 {
	-ms-transform:translate(1398.544px,2582.474px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1398.544px,2582.474px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:509.05px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1398.544px,2582.474px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1398.544px,2582.474px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:509.05px;
}
#_idContainer007 {
	-ms-transform:translate(84.359px,554.476px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(84.359px,554.476px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1039.31px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(84.359px,554.476px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(84.359px,554.476px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1039.31px;
}
#_idContainer008 {
	-ms-transform:translate(616.363px,2582.474px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(616.363px,2582.474px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:509.05px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(616.363px,2582.474px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(616.363px,2582.474px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:509.05px;
}
#_idContainer009 {
	-ms-transform:translate(1918.788px,2582.474px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1918.788px,2582.474px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:509.05px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1918.788px,2582.474px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1918.788px,2582.474px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:509.05px;
}
#_idContainer010 {
	-ms-transform:translate(1395.704px,1623.380px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1395.704px,1623.380px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:964.81px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1395.704px,1623.380px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1395.704px,1623.380px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1039.31px;
}
#_idContainer011 {
	-ms-transform:translate(1395.704px,554.476px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1395.704px,554.476px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1039.31px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1395.704px,554.476px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1395.704px,554.476px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1039.31px;
}
#_idContainer012 {
	-ms-transform:translate(126.780px,247.291px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(126.780px,247.291px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:322.33px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(126.780px,247.291px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(126.780px,247.291px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1890.11px;
}
#_idContainer013 {
	-ms-transform:translate(1728.307px,426.330px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1728.307px,426.330px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:77.29px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1728.307px,426.330px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1728.307px,426.330px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:789.35px;
}
#_idContainer014 {
	-ms-transform:translate(35.999px,35.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(35.999px,35.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:114.30px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(35.999px,35.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(35.999px,35.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:978.94px;
}
#_idContainer015 {
	-ms-transform:translate(1080.417px,3076.818px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1080.417px,3076.818px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:121.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1080.417px,3076.818px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1080.417px,3076.818px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:494.34px;
}
#_idContainer016 {
	-ms-transform:translate(1076.316px,1575.687px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1076.316px,1575.687px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:121.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1076.316px,1575.687px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1076.316px,1575.687px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:441.18px;
}
#_idContainer017 {
	-ms-transform:translate(2394.944px,1585.113px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(2394.944px,1585.113px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:142.06px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(2394.944px,1585.113px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(2394.944px,1585.113px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:548.27px;
}
#_idContainer018 {
	-ms-transform:translate(2378.788px,3130.739px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(2378.788px,3130.739px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:142.06px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(2378.788px,3130.739px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(2378.788px,3130.739px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:548.27px;
}
#_idContainer019 {
	-ms-transform:translate(36.000px,3433.661px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(36.000px,3433.661px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:97.70px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(36.000px,3433.661px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(36.000px,3433.661px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:978.94px;
}
#_idContainer020 {
	-ms-transform:translate(612.403px,6178.002px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(612.403px,6178.002px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:494.11px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(612.403px,6178.002px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(612.403px,6178.002px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:500.22px;
}
#_idContainer021 {
	-ms-transform:translate(104.300px,6178.002px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(104.300px,6178.002px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:494.11px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(104.300px,6178.002px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(104.300px,6178.002px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:496.63px;
}
#_idContainer022 {
	-ms-transform:translate(100.243px,5667.310px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(100.243px,5667.310px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:500.69px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(100.243px,5667.310px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(100.243px,5667.310px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:500.69px;
}
#_idContainer023 {
	-ms-transform:translate(611.939px,5667.310px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(611.939px,5667.310px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:500.69px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(611.939px,5667.310px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(611.939px,5667.310px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:500.69px;
}
#_idContainer024 {
	-ms-transform:translate(100.243px,3668.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(100.243px,3668.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1022.23px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(100.243px,3668.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(100.243px,3668.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1022.23px;
}
#_idContainer025 {
	-ms-transform:translate(20.975px,8.235px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(20.975px,8.235px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:15.12px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(20.975px,8.235px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(20.975px,8.235px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:10.01px;
}
#_idContainer026 {
	-ms-transform:translate(0.000px,7.418px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,7.418px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:14.92px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,7.418px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,7.418px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:10.01px;
}
#_idContainer027 {
	-ms-transform:translate(7.100px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(7.100px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:18.68px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(7.100px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(7.100px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:15.14px;
}
#_idContainer028 {
	-ms-transform:translate(5.452px,8.261px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(5.452px,8.261px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:22.04px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(5.452px,8.261px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(5.452px,8.261px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:15.70px;
}
#_idContainer029 {
	-ms-transform:translate(16200.462px,17483.776px) rotate(0.000deg) skew(0.000deg) scale(20.000,20.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(16200.462px,17483.776px) rotate(0.000deg) skew(0.000deg) scale(20.000,20.000);
	-webkit-transform-origin:0% 0%;
	height:29.30px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(16200.462px,17483.776px) rotate(0.000deg) skew(0.000deg) scale(20.000,20.000);
	transform:translate(16200.462px,17483.776px) rotate(0.000deg) skew(0.000deg) scale(20.000,20.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:30.98px;
}
#_idContainer030 {
	-ms-transform:translate(100.243px,4720.063px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(100.243px,4720.063px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1075.09px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(100.243px,4720.063px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(100.243px,4720.063px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1101.14px;
}
#_idContainer031 {
	-ms-transform:translate(1062.631px,6207.679px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1062.631px,6207.679px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:139.75px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1062.631px,6207.679px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1062.631px,6207.679px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:539.26px;
}
#_idContainer032 {
	-ms-transform:translate(1081.755px,4681.702px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1081.755px,4681.702px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:139.75px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1081.755px,4681.702px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1081.755px,4681.702px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:539.26px;
}
img._idGenObjectAttribute-1 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
img._idGenObjectAttribute-2 {
	left:0px;
	position:absolute;
	top:0px;
}
div._idGenObjectStyle-Disabled {
	background-color:transparent;
	border-width:0px;
}
