body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
	text-rendering:optimizeSpeed;
}
div.Basic-Text-Frame {
	border-style:solid;
}
div.photo-credit {
	border-style:solid;
}
p.ParaOverride-1 {
	line-height:1;
	white-space:nowrap;
}
span.CharOverride-1 {
	color:#424343;
	font-family:"Futura BT Book", sans-serif;
	font-size:700px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-2 {
	color:#413f36;
	font-family:"Futura BT Book", sans-serif;
	font-size:700px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-3 {
	color:#5e90ad;
	font-family:"Futura BT Book", sans-serif;
	font-size:700px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-4 {
	color:#eab128;
	font-family:"Avenir Next Heavy", sans-serif;
	font-size:867.9px;
	font-style:normal;
	font-weight:900;
	text-transform:uppercase;
}
span.CharOverride-5 {
	color:#ffffff;
	font-family:"Bodoni 72", serif;
	font-size:5901.5px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-6 {
	color:#ffffff;
	font-family:"TradeGothic CondEighteen", sans-serif;
	font-size:781.1px;
	font-style:normal;
	font-weight:normal;
	text-transform:uppercase;
}
span.CharOverride-7 {
	color:#e2a000;
	font-family:"Bodoni 72", serif;
	font-size:1360px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-8 {
	color:#000000;
	font-family:"Century Old Style Std", serif;
	font-size:560px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-9 {
	color:#413f36;
	font-family:"Avenir Next Demi Bold", sans-serif;
	font-size:560px;
	font-style:normal;
	font-weight:600;
}
span.CharOverride-10 {
	color:#000000;
	font-family:"Century Old Style Std", serif;
	font-size:560px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-11 {
	color:#cccccc;
	font-family:"Futura BT Book", sans-serif;
	font-size:607.5px;
	font-style:normal;
	font-weight:normal;
}
#_idContainer000 {
	-ms-transform:translate(377.220px,1148.389px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(377.220px,1148.389px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:587.22px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(377.220px,1148.389px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(377.220px,1148.389px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:819.79px;
}
#_idContainer001 {
	-ms-transform:translate(64.440px,1735.612px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(64.440px,1735.612px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:803.29px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(64.440px,1735.612px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(64.440px,1735.612px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1132.57px;
}
#_idContainer002 {
	-ms-transform:translate(64.440px,190.548px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(64.440px,190.548px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:957.84px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(64.440px,190.548px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(64.440px,190.548px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1132.57px;
}
#_idContainer003 {
	-ms-transform:translate(-343.139px,3082.890px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(-343.139px,3082.890px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:152.05px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-343.139px,3082.890px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(-343.139px,3082.890px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:2713.94px;
}
#_idContainer004 {
	-ms-transform:translate(59.747px,78.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(59.747px,78.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:56.24px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(59.747px,78.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(59.747px,78.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:901.25px;
}
#_idContainer005 {
	-ms-transform:translate(-133.000px,2529.520px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(-133.000px,2529.520px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:437.93px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-133.000px,2529.520px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(-133.000px,2529.520px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:2503.81px;
}
#_idContainer006 {
	-ms-transform:translate(558.041px,2473.539px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(558.041px,2473.539px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:556.64px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(558.041px,2473.539px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(558.041px,2473.539px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1858.96px;
}
#_idContainer007 {
	-ms-transform:translate(280.573px,2854.124px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(280.573px,2854.124px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:121.90px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(280.573px,2854.124px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(280.573px,2854.124px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:2072.87px;
}
#_idContainer008 {
	-ms-transform:translate(6.289px,1.859px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(6.289px,1.859px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:5.78px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(6.289px,1.859px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(6.289px,1.859px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:3.00px;
}
#_idContainer009 {
	-ms-transform:translate(-0.001px,1.524px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(-0.001px,1.524px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:5.25px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-0.001px,1.524px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(-0.001px,1.524px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:3.00px;
}
#_idContainer010 {
	-ms-transform:translate(2.128px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(2.128px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:5.60px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(2.128px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(2.128px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:4.54px;
}
#_idContainer011 {
	-ms-transform:translate(1.634px,1.776px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1.634px,1.776px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:8.01px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1.634px,1.776px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1.634px,1.776px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:4.71px;
}
#_idContainer012 {
	-ms-transform:translate(8008.961px,37860.070px) rotate(0.000deg) skew(0.000deg) scale(20.000,20.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(8008.961px,37860.070px) rotate(0.000deg) skew(0.000deg) scale(20.000,20.000);
	-webkit-transform-origin:0% 0%;
	height:8.79px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(8008.961px,37860.070px) rotate(0.000deg) skew(0.000deg) scale(20.000,20.000);
	transform:translate(8008.961px,37860.070px) rotate(0.000deg) skew(0.000deg) scale(20.000,20.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:9.29px;
}
#_idContainer013 {
	-ms-transform:translate(1272.429px,157.562px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1272.429px,157.562px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:2360.56px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1272.429px,157.562px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1272.429px,157.562px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:796.57px;
}
#_idContainer014 {
	-ms-transform:translate(64.440px,1844.136px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(64.440px,1844.136px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:2.82px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(64.440px,1844.136px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(64.440px,1844.136px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1132.57px;
}
#_idContainer015 {
	-ms-transform:translate(64.440px,1149.799px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(64.440px,1149.799px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:585.81px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(64.440px,1149.799px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(64.440px,1149.799px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:312.78px;
}
#_idContainer016 {
	-ms-transform:translate(64.440px,1139.217px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(64.440px,1139.217px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:21.70px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(64.440px,1139.217px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(64.440px,1139.217px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1132.57px;
}
#_idContainer017 {
	-ms-transform:translate(62.270px,1724.764px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(62.270px,1724.764px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:21.70px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(62.270px,1724.764px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(62.270px,1724.764px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1132.57px;
}
#_idContainer018 {
	-ms-transform:translate(32.192px,2561.414px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(32.192px,2561.414px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:169.73px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(32.192px,2561.414px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(32.192px,2561.414px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:427.54px;
}
#_idContainer019 {
	-ms-transform:translate(373.966px,1150.066px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(373.966px,1150.066px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:577.60px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(373.966px,1150.066px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(373.966px,1150.066px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:6.51px;
}
img._idGenObjectAttribute-1 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
img._idGenObjectAttribute-2 {
	left:0px;
	position:absolute;
	top:0px;
}
div._idGenObjectStyle-Disabled {
	background-color:transparent;
	border-width:0px;
}
