body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
	text-rendering:optimizeSpeed;
}
div.Basic-Text-Frame {
	border-style:solid;
}
p.ParaOverride-1 {
	line-height:1;
	white-space:nowrap;
}
span.CharOverride-1 {
	color:#ffffff;
	font-family:"Buy More", sans-serif;
	font-size:4354.5px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-2 {
	color:#d60010;
	font-family:"Avenir Next Heavy", sans-serif;
	font-size:885.7px;
	font-style:normal;
	font-weight:900;
}
span.CharOverride-3 {
	color:#d60010;
	font-family:"Minion Pro", serif;
	font-size:885.7px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-4 {
	color:#000000;
	font-family:"Avenir Next Condensed Demi Bold", sans-serif;
	font-size:560px;
	font-style:normal;
	font-weight:600;
	text-transform:uppercase;
}
span.CharOverride-5 {
	color:#000000;
	font-family:"Avenir Next", sans-serif;
	font-size:1306.8px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-6 {
	color:#000000;
	font-family:"Avenir Next", sans-serif;
	font-size:1306.8px;
	font-style:normal;
	font-variant:small-caps;
	font-weight:normal;
}
span.CharOverride-7 {
	color:#333333;
	font-family:"Avenir Next", sans-serif;
	font-size:560px;
	font-style:normal;
	font-weight:normal;
	text-transform:uppercase;
}
span.CharOverride-8 {
	color:#000000;
	font-family:"Century Old Style Std", serif;
	font-size:560px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-9 {
	color:#d60010;
	font-family:"Avenir Next Heavy", sans-serif;
	font-size:960px;
	font-style:normal;
	font-weight:900;
}
span.CharOverride-10 {
	color:#413f36;
	font-family:"Avenir Next Demi Bold", sans-serif;
	font-size:560px;
	font-style:normal;
	font-weight:600;
}
span.CharOverride-11 {
	color:#d60010;
	font-family:"Buy More", sans-serif;
	font-size:4000px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-12 {
	color:#e6e6e6;
	font-family:"Avenir Next", sans-serif;
	font-size:680px;
	font-style:normal;
	font-weight:normal;
	text-transform:uppercase;
}
span.CharOverride-13 {
	color:#ffffff;
	font-family:"Avenir Next", sans-serif;
	font-size:560px;
	font-style:normal;
	font-weight:normal;
	text-transform:uppercase;
}
span.CharOverride-14 {
	color:#000000;
	font-family:"Avenir Next Demi Bold", sans-serif;
	font-size:680px;
	font-style:normal;
	font-weight:600;
}
span.CharOverride-15 {
	color:#000000;
	font-family:"Avenir Next", sans-serif;
	font-size:680px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-16 {
	color:#4c4c4c;
	font-family:"Avenir Next Demi Bold", sans-serif;
	font-size:560px;
	font-style:normal;
	font-weight:600;
}
#_idContainer000 {
	-ms-transform:translate(192.106px,36.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(192.106px,36.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:2552.27px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(192.106px,36.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(192.106px,36.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:2012.95px;
}
#_idContainer001 {
	-ms-transform:translate(270.803px,71.448px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(270.803px,71.448px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:331.84px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(270.803px,71.448px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(270.803px,71.448px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:2014.65px;
}
#_idContainer002 {
	-ms-transform:translate(-138.000px,2511.007px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(-138.000px,2511.007px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:52.03px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-138.000px,2511.007px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(-138.000px,2511.007px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1300.85px;
}
#_idContainer003 {
	-ms-transform:translate(164.449px,514.934px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(164.449px,514.934px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/3.png);
	background-repeat:no-repeat;
	background-size:cover;
	height:490.07px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(164.449px,514.934px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(164.449px,514.934px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:561.98px;
}
#_idContainer004 {
	-ms-transform:translate(376.449px,746.299px) rotate(180.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(376.449px,746.299px) rotate(180.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFQAAADeCAYAAACjQCd/AAAACXBIWXMAABcRAAAXEQHKJvM/AAACC0lEQVR4Xu3bsQ3DQAwEQcpQ4XbldAkvARvOxBctwJDX7g6dz2nAO4LGBI0JGhM0JmhM0JigMUFjgsYEjQkaEzQmaEzQmKAxQWOCxgSNCRoTNCZoTNCYoDFBY4LGBI0JGhM0JmhM0JigMUFjgsYEjd0z8z2NeO5aXwspJx8TNCZoTNCYoDFBY4LGBI0JGhM0JmhM0JigMUFjgsYEjQkaEzQmaEzQmKAxQWOCxgSNCRoTNCZoTNCYoDFBY4LGBI0JGhM0JmhM0JigMUFjgsYEjQkaEzQmaEzQmKAxQWOCxgSNCRoTNCZoTNCYoDFBY4LGBI0JGhM0JmhM0JigMUFjgsYEjQkaEzQmaEzQmKAxQWOCxgSNCRoTNCZoTNCYoDFBY4LGBI0JGhM0JmhM0JigMUFjgsYEjQkaEzQmaEzQmKAxQWOCxgSNCRoTNCZoTNCYoDFBY4LGBI0JGhM0JmhM0JigMUFjgsYEjQkaEzQmaEzQmKAxQWOCxgSNCRoTNCZoTNCYoDFBY4LGBI0JGhM0JmhM0JigMUFjgsYEjQkaEzQmaEzQmKAxQWOCxgSNCRoTNCZoTNCYoDFBY4LGBI0JGhM0JmhM0Ng9M7/TiOeu3T1teMHJxwSNCRoTNCZoTNCYoDFBY4LGBI0JGhM0JmhM0JigMUFjgsYEjQkaEzQmaEzQmKAxQWOCxgSN/QH3Pwy1cnU5zgAAAABJRU5ErkJggg==);
	background-repeat:no-repeat;
	background-size:cover;
	height:106.74px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(376.449px,746.299px) rotate(180.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(376.449px,746.299px) rotate(180.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:40.51px;
}
#_idContainer005 {
	-ms-transform:translate(234.690px,4681.428px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(234.690px,4681.428px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:902.17px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(234.690px,4681.428px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(234.690px,4681.428px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:2016.00px;
}
#_idContainer006 {
	-ms-transform:translate(194.369px,2766.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(194.369px,2766.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1777.68px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(194.369px,2766.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(194.369px,2766.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:2056.32px;
}
#_idContainer007 {
	-ms-transform:translate(194.369px,4603.936px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(194.369px,4603.936px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:269.68px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(194.369px,4603.936px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(194.369px,4603.936px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:212.08px;
}
#_idContainer008 {
	-ms-transform:translate(139.649px,4785.599px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(139.649px,4785.599px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:84.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(139.649px,4785.599px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(139.649px,4785.599px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:227.52px;
}
#_idContainer009 {
	-ms-transform:translate(130.209px,4351.591px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(130.209px,4351.591px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:193.09px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(130.209px,4351.591px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(130.209px,4351.591px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:433.92px;
}
#_idContainer010 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(20.000,20.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(20.000,20.000);
	-webkit-transform-origin:0% 0%;
	height:969.21px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(20.000,20.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(20.000,20.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1144.57px;
}
#_idContainer011 {
	-ms-transform:translate(23417.853px,0.000px) rotate(0.000deg) skew(0.000deg) scale(20.000,20.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(23417.853px,0.000px) rotate(0.000deg) skew(0.000deg) scale(20.000,20.000);
	-webkit-transform-origin:0% 0%;
	height:969.21px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(23417.853px,0.000px) rotate(0.000deg) skew(0.000deg) scale(20.000,20.000);
	transform:translate(23417.853px,0.000px) rotate(0.000deg) skew(0.000deg) scale(20.000,20.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:841.53px;
}
#_idContainer012 {
	-ms-transform:translate(0.000px,19910.606px) rotate(0.000deg) skew(0.000deg) scale(20.000,20.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,19910.606px) rotate(0.000deg) skew(0.000deg) scale(20.000,20.000);
	-webkit-transform-origin:0% 0%;
	height:956.05px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,19910.606px) rotate(0.000deg) skew(0.000deg) scale(20.000,20.000);
	transform:translate(0.000px,19910.606px) rotate(0.000deg) skew(0.000deg) scale(20.000,20.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1144.57px;
}
#_idContainer013 {
	-ms-transform:translate(23417.853px,19910.606px) rotate(0.000deg) skew(0.000deg) scale(20.000,20.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(23417.853px,19910.606px) rotate(0.000deg) skew(0.000deg) scale(20.000,20.000);
	-webkit-transform-origin:0% 0%;
	height:956.05px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(23417.853px,19910.606px) rotate(0.000deg) skew(0.000deg) scale(20.000,20.000);
	transform:translate(23417.853px,19910.606px) rotate(0.000deg) skew(0.000deg) scale(20.000,20.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:841.53px;
}
#_idContainer014 {
	-ms-transform:translate(0.000px,39558.007px) rotate(0.000deg) skew(0.000deg) scale(20.000,20.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,39558.007px) rotate(0.000deg) skew(0.000deg) scale(20.000,20.000);
	-webkit-transform-origin:0% 0%;
	height:1328.82px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,39558.007px) rotate(0.000deg) skew(0.000deg) scale(20.000,20.000);
	transform:translate(0.000px,39558.007px) rotate(0.000deg) skew(0.000deg) scale(20.000,20.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:2012.42px;
}
#_idContainer015 {
	-ms-transform:translate(265.892px,5779.689px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(265.892px,5779.689px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/9.png);
	background-repeat:no-repeat;
	background-size:cover;
	height:3371.82px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(265.892px,5779.689px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(265.892px,5779.689px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:2015.74px;
}
#_idContainer016 {
	-ms-transform:translate(1873.590px,7901.623px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1873.590px,7901.623px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:168.38px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1873.590px,7901.623px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1873.590px,7901.623px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:590.41px;
}
#_idContainer017 {
	-ms-transform:translate(250.000px,9396.151px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(250.000px,9396.151px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1918.08px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(250.000px,9396.151px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(250.000px,9396.151px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:2016.00px;
}
#_idContainer018 {
	-ms-transform:translate(292.239px,12252.916px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(292.239px,12252.916px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:401.77px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(292.239px,12252.916px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(292.239px,12252.916px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1838.72px;
}
#_idContainer019 {
	-ms-transform:translate(1130.693px,9280.903px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1130.693px,9280.903px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:109.14px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1130.693px,9280.903px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1130.693px,9280.903px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1006.72px;
}
#_idContainer020 {
	-ms-transform:translate(290.000px,12188.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(290.000px,12188.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:73.61px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(290.000px,12188.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(290.000px,12188.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:685.76px;
}
#_idContainer021 {
	-ms-transform:translate(985.760px,11355.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(985.760px,11355.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:846.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(985.760px,11355.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(985.760px,11355.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1280.24px;
}
#_idContainer022 {
	-ms-transform:translate(292.239px,14414.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(292.239px,14414.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:587.42px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(292.239px,14414.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(292.239px,14414.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:924.17px;
}
#_idContainer023 {
	-ms-transform:translate(39.879px,13906.564px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(39.879px,13906.564px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:440.44px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(39.879px,13906.564px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(39.879px,13906.564px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1186.00px;
}
#_idContainer024 {
	-ms-transform:translate(292.239px,13236.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(292.239px,13236.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:649.56px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(292.239px,13236.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(292.239px,13236.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:924.17px;
}
#_idContainer025 {
	-ms-transform:translate(1282.000px,13429.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1282.000px,13429.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1430.62px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1282.000px,13429.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1282.000px,13429.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:468.36px;
}
#_idContainer026 {
	-ms-transform:translate(6.289px,1.859px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(6.289px,1.859px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:5.78px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(6.289px,1.859px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(6.289px,1.859px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:3.00px;
}
#_idContainer027 {
	-ms-transform:translate(-0.001px,1.524px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(-0.001px,1.524px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:5.25px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-0.001px,1.524px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(-0.001px,1.524px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:3.00px;
}
#_idContainer028 {
	-ms-transform:translate(2.128px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(2.128px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:5.60px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(2.128px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(2.128px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:4.54px;
}
#_idContainer029 {
	-ms-transform:translate(1.634px,1.776px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1.634px,1.776px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:8.01px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1.634px,1.776px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1.634px,1.776px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:4.71px;
}
#_idContainer030 {
	-ms-transform:translate(2494.207px,48095.899px) rotate(0.000deg) skew(0.000deg) scale(20.000,20.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(2494.207px,48095.899px) rotate(0.000deg) skew(0.000deg) scale(20.000,20.000);
	-webkit-transform-origin:0% 0%;
	height:8.79px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(2494.207px,48095.899px) rotate(0.000deg) skew(0.000deg) scale(20.000,20.000);
	transform:translate(2494.207px,48095.899px) rotate(0.000deg) skew(0.000deg) scale(20.000,20.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:9.29px;
}
#_idContainer031 {
	-ms-transform:translate(1778.239px,12916.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1778.239px,12916.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:4120.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1778.239px,12916.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1778.239px,12916.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:685.76px;
}
#_idContainer032 {
	-ms-transform:translate(1282.000px,13229.623px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1282.000px,13229.623px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:160.23px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1282.000px,13229.623px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1282.000px,13229.623px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:391.24px;
}
img._idGenObjectAttribute-1 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
img._idGenObjectAttribute-2 {
	left:0px;
	position:absolute;
	top:0px;
}
div._idGenObjectStyle-Disabled {
	background-color:transparent;
	border-width:0px;
}
