body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
	text-rendering:optimizeSpeed;
}
div.Basic-Text-Frame {
	border-style:solid;
}
p.ParaOverride-1 {
	line-height:1;
	white-space:nowrap;
}
span.CharOverride-1 {
	color:#000000;
	font-family:"7th Service", sans-serif;
	font-size:1800px;
	font-style:normal;
	font-weight:normal;
	text-transform:uppercase;
}
span.CharOverride-2 {
	color:#000000;
	font-family:"Avenir Next Demi Bold", sans-serif;
	font-size:600px;
	font-style:normal;
	font-weight:600;
}
span.CharOverride-3 {
	color:#000000;
	font-family:"TradeGothic CondEighteen", sans-serif;
	font-size:451.1px;
	font-style:normal;
	font-weight:normal;
	text-transform:uppercase;
}
span.CharOverride-4 {
	color:#000000;
	font-family:"TradeGothic CondEighteen", sans-serif;
	font-size:480px;
	font-style:normal;
	font-weight:normal;
	text-transform:uppercase;
}
span.CharOverride-5 {
	color:#333333;
	font-family:"Wingdings 3", sans-serif;
	font-size:560px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-6 {
	color:#333333;
	font-family:"Avenir Next", sans-serif;
	font-size:560px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-7 {
	color:#000000;
	font-family:"7th Service", sans-serif;
	font-size:2972.9px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-8 {
	color:#000000;
	font-family:"Century Old Style Std", serif;
	font-size:560px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-9 {
	color:#333333;
	font-family:"Wingdings 3", sans-serif;
	font-size:369.7px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-10 {
	color:#333333;
	font-family:"Avenir Next", sans-serif;
	font-size:369.7px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-11 {
	color:#000000;
	font-family:"7th Service", sans-serif;
	font-size:862.7px;
	font-style:normal;
	font-weight:normal;
	text-transform:uppercase;
}
span.CharOverride-12 {
	color:#000000;
	font-family:"Century Old Style Std", serif;
	font-size:369.7px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-13 {
	color:#000000;
	font-family:"Century Old Style Std", serif;
	font-size:366.3px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-14 {
	color:#333333;
	font-family:"Wingdings 3", sans-serif;
	font-size:366.3px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-15 {
	color:#333333;
	font-family:"Avenir Next", sans-serif;
	font-size:366.3px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-16 {
	color:#666666;
	font-family:"Avenir Next Demi Bold", sans-serif;
	font-size:366.3px;
	font-style:normal;
	font-weight:600;
}
span.CharOverride-17 {
	color:#000000;
	font-family:"7th Service", sans-serif;
	font-size:760.4px;
	font-style:normal;
	font-weight:normal;
	text-transform:uppercase;
}
span.CharOverride-18 {
	color:#000000;
	font-family:"Avenir Next Demi Bold", sans-serif;
	font-size:422.4px;
	font-style:normal;
	font-weight:600;
}
span.CharOverride-19 {
	color:#333333;
	font-family:"Wingdings 3", sans-serif;
	font-size:380.2px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-20 {
	color:#333333;
	font-family:"Avenir Next", sans-serif;
	font-size:380.2px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-21 {
	color:#333333;
	font-family:"Avenir Next", sans-serif;
	font-size:380.2px;
	font-style:italic;
	font-weight:normal;
}
span.CharOverride-22 {
	color:#000000;
	font-family:"Avenir Next Demi Bold", sans-serif;
	font-size:380.2px;
	font-style:normal;
	font-weight:600;
	text-transform:uppercase;
}
span.CharOverride-23 {
	color:#000000;
	font-family:"Century Old Style Std", serif;
	font-size:359.1px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-24 {
	color:#000000;
	font-family:"Century Old Style Std", serif;
	font-size:359.1px;
	font-style:italic;
	font-weight:normal;
}
span.CharOverride-25 {
	color:#1e1d1c;
	font-family:"Century Old Style Std", serif;
	font-size:359.1px;
	font-style:italic;
	font-weight:normal;
}
span.CharOverride-26 {
	color:#1e1d1c;
	font-family:"Century Old Style Std", serif;
	font-size:359.1px;
	font-style:normal;
	font-weight:normal;
}
#_idContainer000 {
	-ms-transform:translate(63.999px,36.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(63.999px,36.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1548.33px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(63.999px,36.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(63.999px,36.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1613.29px;
}
#_idContainer001 {
	-ms-transform:translate(1605.782px,335.407px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1605.782px,335.407px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1123.78px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1605.782px,335.407px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1605.782px,335.407px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:858.22px;
}
#_idContainer002 {
	-ms-transform:translate(1399.810px,57.929px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1399.810px,57.929px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:318.13px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1399.810px,57.929px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1399.810px,57.929px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1064.19px;
}
#_idContainer003 {
	-ms-transform:translate(250.000px,1146.623px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(250.000px,1146.623px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:261.01px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(250.000px,1146.623px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(250.000px,1146.623px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:913.72px;
}
#_idContainer004 {
	-ms-transform:translate(124.999px,1900.269px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(124.999px,1900.269px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1000.73px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(124.999px,1900.269px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(124.999px,1900.269px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:481.05px;
}
#_idContainer005 {
	-ms-transform:translate(654.549px,1704.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(654.549px,1704.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1477.80px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(654.549px,1704.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(654.549px,1704.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1809.45px;
}
#_idContainer006 {
	-ms-transform:translate(63.999px,2689.319px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(63.999px,2689.319px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:533.49px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(63.999px,2689.319px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(63.999px,2689.319px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:665.75px;
}
#_idContainer007 {
	-ms-transform:translate(729.747px,3258.623px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(729.747px,3258.623px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:157.38px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(729.747px,3258.623px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(729.747px,3258.623px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:814.67px;
}
#_idContainer008 {
	-ms-transform:translate(215.612px,3684.436px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(215.612px,3684.436px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1346.74px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(215.612px,3684.436px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(215.612px,3684.436px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1019.85px;
}
#_idContainer009 {
	-ms-transform:translate(63.999px,3581.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(63.999px,3581.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1599.45px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(63.999px,3581.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(63.999px,3581.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1361.32px;
}
#_idContainer010 {
	-ms-transform:translate(1277.689px,3757.600px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1277.689px,3757.600px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1215.58px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1277.689px,3757.600px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1277.689px,3757.600px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:735.14px;
}
#_idContainer011 {
	-ms-transform:translate(2046.971px,3903.462px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(2046.971px,3903.462px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1070.72px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(2046.971px,3903.462px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(2046.971px,3903.462px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:417.03px;
}
#_idContainer012 {
	-ms-transform:translate(124.999px,5245.623px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(124.999px,5245.623px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:110.40px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(124.999px,5245.623px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(124.999px,5245.623px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:739.94px;
}
#_idContainer013 {
	-ms-transform:translate(1436.743px,5024.805px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1436.743px,5024.805px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:317.49px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1436.743px,5024.805px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1436.743px,5024.805px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:576.08px;
}
#_idContainer014 {
	-ms-transform:translate(64.000px,5512.119px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(64.000px,5512.119px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1587.88px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(64.000px,5512.119px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(64.000px,5512.119px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1481.67px;
}
#_idContainer015 {
	-ms-transform:translate(1461.002px,5743.819px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1461.002px,5743.819px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:999.37px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1461.002px,5743.819px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1461.002px,5743.819px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:585.11px;
}
#_idContainer016 {
	-ms-transform:translate(124.999px,7093.623px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(124.999px,7093.623px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:220.93px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(124.999px,7093.623px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(124.999px,7093.623px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:653.00px;
}
#_idContainer017 {
	-ms-transform:translate(2082.857px,5894.877px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(2082.857px,5894.877px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1513.12px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(2082.857px,5894.877px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(2082.857px,5894.877px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:381.14px;
}
#_idContainer018 {
	-ms-transform:translate(64.000px,8173.016px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(64.000px,8173.016px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1468.22px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(64.000px,8173.016px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(64.000px,8173.016px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1352.91px;
}
#_idContainer019 {
	-ms-transform:translate(1331.131px,8091.879px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1331.131px,8091.879px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1694.87px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1331.131px,8091.879px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1331.131px,8091.879px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1132.87px;
}
#_idContainer020 {
	-ms-transform:translate(1660.935px,8010.538px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1660.935px,8010.538px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:253.64px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1660.935px,8010.538px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1660.935px,8010.538px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:353.22px;
}
#_idContainer021 {
	-ms-transform:translate(1428.741px,8286.987px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1428.741px,8286.987px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:212.60px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1428.741px,8286.987px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1428.741px,8286.987px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:464.39px;
}
#_idContainer022 {
	-ms-transform:translate(2070.206px,8226.831px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(2070.206px,8226.831px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:781.14px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(2070.206px,8226.831px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(2070.206px,8226.831px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:389.15px;
}
#_idContainer023 {
	-ms-transform:translate(64.000px,9786.746px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(64.000px,9786.746px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1447.03px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(64.000px,9786.746px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(64.000px,9786.746px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:807.37px;
}
#_idContainer024 {
	-ms-transform:translate(833.080px,10878.798px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(833.080px,10878.798px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:557.81px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(833.080px,10878.798px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(833.080px,10878.798px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:366.57px;
}
#_idContainer025 {
	-ms-transform:translate(1308.181px,10175.430px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1308.181px,10175.430px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:791.73px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1308.181px,10175.430px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1308.181px,10175.430px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:410.60px;
}
#_idContainer026 {
	-ms-transform:translate(896.960px,9925.339px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(896.960px,9925.339px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:920.76px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(896.960px,9925.339px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(896.960px,9925.339px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:302.69px;
}
#_idContainer027 {
	-ms-transform:translate(1394.340px,11005.064px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1394.340px,11005.064px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:235.21px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1394.340px,11005.064px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1394.340px,11005.064px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:324.44px;
}
#_idContainer028 {
	-ms-transform:translate(976.913px,10792.342px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(976.913px,10792.342px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:42.74px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(976.913px,10792.342px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(976.913px,10792.342px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:42.74px;
}
#_idContainer029 {
	-ms-transform:translate(64.000px,11717.004px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(64.000px,11717.004px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:205.72px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(64.000px,11717.004px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(64.000px,11717.004px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:533.78px;
}
#_idContainer030 {
	-ms-transform:translate(841.864px,11835.170px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(841.864px,11835.170px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:864.55px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(841.864px,11835.170px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(841.864px,11835.170px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:390.16px;
}
#_idContainer031 {
	-ms-transform:translate(725.896px,11541.538px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(725.896px,11541.538px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:372.58px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(725.896px,11541.538px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(725.896px,11541.538px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:280.66px;
}
#_idContainer032 {
	-ms-transform:translate(841.864px,12722.821px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(841.864px,12722.821px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:478.18px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(841.864px,12722.821px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(841.864px,12722.821px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:319.36px;
}
#_idContainer033 {
	-ms-transform:translate(63.999px,11925.259px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(63.999px,11925.259px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1236.75px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(63.999px,11925.259px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(63.999px,11925.259px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:742.97px;
}
img._idGenObjectAttribute-1 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
img._idGenObjectAttribute-2 {
	left:0px;
	position:absolute;
	top:0px;
}
