body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
	text-rendering:optimizeSpeed;
}
div.Basic-Text-Frame {
	border-style:solid;
}
p.ParaOverride-1 {
	line-height:1;
	white-space:nowrap;
}
span.CharOverride-1 {
	color:#ffffff;
	font-family:"Buy More", sans-serif;
	font-size:1179.8px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-2 {
	color:#d60010;
	font-family:"Avenir Next Heavy", sans-serif;
	font-size:240px;
	font-style:normal;
	font-weight:900;
}
span.CharOverride-3 {
	color:#d60010;
	font-family:"Century Old Style Std", serif;
	font-size:240px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-4 {
	color:#ffffff;
	font-family:"TradeGothic CondEighteen", sans-serif;
	font-size:180px;
	font-style:normal;
	font-weight:normal;
	text-transform:uppercase;
}
span.CharOverride-5 {
	color:#000000;
	font-family:"Century Old Style Std", serif;
	font-size:400px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-6 {
	color:#d60010;
	font-family:"Avenir Next Heavy", sans-serif;
	font-size:440px;
	font-style:normal;
	font-weight:900;
}
span.CharOverride-7 {
	color:#d60010;
	font-family:"Buy More", sans-serif;
	font-size:1440px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-8 {
	color:#e6e6e6;
	font-family:"Avenir Next", sans-serif;
	font-size:170px;
	font-style:normal;
	font-weight:normal;
	text-transform:uppercase;
}
span.CharOverride-9 {
	color:#cccccc;
	font-family:"Avenir Next", sans-serif;
	font-size:170px;
	font-style:normal;
	font-weight:normal;
	text-transform:uppercase;
}
span.CharOverride-10 {
	color:#191919;
	font-family:"Avenir Next", sans-serif;
	font-size:170px;
	font-style:normal;
	font-weight:normal;
	text-transform:uppercase;
}
span.CharOverride-11 {
	color:#d60010;
	font-family:"Avenir Next Heavy", sans-serif;
	font-size:480px;
	font-style:normal;
	font-weight:900;
}
span.CharOverride-12 {
	color:#000000;
	font-family:"Avenir Next Demi Bold", sans-serif;
	font-size:340px;
	font-style:normal;
	font-weight:600;
}
span.CharOverride-13 {
	color:#000000;
	font-family:"Avenir Next", sans-serif;
	font-size:340px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-14 {
	color:#413f36;
	font-family:"Avenir Next Demi Bold", sans-serif;
	font-size:320px;
	font-style:normal;
	font-weight:600;
}
span.CharOverride-15 {
	color:#000000;
	font-family:"Century Old Style Std", serif;
	font-size:340px;
	font-style:normal;
	font-weight:normal;
}
#_idContainer000 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:684.68px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:534.00px;
}
#_idContainer001 {
	-ms-transform:translate(14.169px,34.308px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(14.169px,34.308px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:92.69px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(14.169px,34.308px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(14.169px,34.308px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:545.83px;
}
#_idContainer002 {
	-ms-transform:translate(165.000px,126.505px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(165.000px,126.505px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:15.49px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(165.000px,126.505px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(165.000px,126.505px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:352.44px;
}
#_idContainer003 {
	-ms-transform:translate(46.760px,726.180px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(46.760px,726.180px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:734.82px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(46.760px,726.180px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(46.760px,726.180px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:451.24px;
}
#_idContainer004 {
	-ms-transform:translate(46.760px,1961.220px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(46.760px,1961.220px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:837.12px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(46.760px,1961.220px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(46.760px,1961.220px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:451.24px;
}
#_idContainer005 {
	-ms-transform:translate(46.760px,3740.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(46.760px,3740.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:801.68px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(46.760px,3740.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(46.760px,3740.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:451.24px;
}
#_idContainer006 {
	-ms-transform:translate(46.760px,5684.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(46.760px,5684.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:838.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(46.760px,5684.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(46.760px,5684.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:451.24px;
}
#_idContainer007 {
	-ms-transform:translate(36.680px,708.156px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(36.680px,708.156px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:98.36px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(36.680px,708.156px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(36.680px,708.156px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:76.32px;
}
#_idContainer008 {
	-ms-transform:translate(23.000px,756.079px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(23.000px,756.079px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:21.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(23.000px,756.079px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(23.000px,756.079px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:56.88px;
}
#_idContainer009 {
	-ms-transform:translate(16.040px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(16.040px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:444.42px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(16.040px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(16.040px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:514.08px;
}
#_idContainer010 {
	-ms-transform:translate(0.000px,395.647px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,395.647px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:89.13px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,395.647px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,395.647px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:108.48px;
}
#_idContainer011 {
	-ms-transform:translate(-1.680px,1496.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(-1.680px,1496.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:483.78px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-1.680px,1496.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(-1.680px,1496.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:530.12px;
}
#_idContainer012 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(20.000,20.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(20.000,20.000);
	-webkit-transform-origin:0% 0%;
	height:220.94px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(20.000,20.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(20.000,20.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:260.92px;
}
#_idContainer013 {
	-ms-transform:translate(5338.308px,0.000px) rotate(0.000deg) skew(0.000deg) scale(20.000,20.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(5338.308px,0.000px) rotate(0.000deg) skew(0.000deg) scale(20.000,20.000);
	-webkit-transform-origin:0% 0%;
	height:220.94px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(5338.308px,0.000px) rotate(0.000deg) skew(0.000deg) scale(20.000,20.000);
	transform:translate(5338.308px,0.000px) rotate(0.000deg) skew(0.000deg) scale(20.000,20.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:264.26px;
}
#_idContainer014 {
	-ms-transform:translate(0.000px,4538.800px) rotate(0.000deg) skew(0.000deg) scale(20.000,20.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,4538.800px) rotate(0.000deg) skew(0.000deg) scale(20.000,20.000);
	-webkit-transform-origin:0% 0%;
	height:217.94px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,4538.800px) rotate(0.000deg) skew(0.000deg) scale(20.000,20.000);
	transform:translate(0.000px,4538.800px) rotate(0.000deg) skew(0.000deg) scale(20.000,20.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:260.92px;
}
#_idContainer015 {
	-ms-transform:translate(5338.308px,4538.800px) rotate(0.000deg) skew(0.000deg) scale(20.000,20.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(5338.308px,4538.800px) rotate(0.000deg) skew(0.000deg) scale(20.000,20.000);
	-webkit-transform-origin:0% 0%;
	height:217.94px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(5338.308px,4538.800px) rotate(0.000deg) skew(0.000deg) scale(20.000,20.000);
	transform:translate(5338.308px,4538.800px) rotate(0.000deg) skew(0.000deg) scale(20.000,20.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:264.26px;
}
#_idContainer016 {
	-ms-transform:translate(0.000px,9017.600px) rotate(0.000deg) skew(0.000deg) scale(20.000,20.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,9017.600px) rotate(0.000deg) skew(0.000deg) scale(20.000,20.000);
	-webkit-transform-origin:0% 0%;
	height:350.74px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,9017.600px) rotate(0.000deg) skew(0.000deg) scale(20.000,20.000);
	transform:translate(0.000px,9017.600px) rotate(0.000deg) skew(0.000deg) scale(20.000,20.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:531.18px;
}
#_idContainer017 {
	-ms-transform:translate(0.000px,-1.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,-1.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/10.png);
	background-repeat:no-repeat;
	background-size:cover;
	height:820.46px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,-1.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,-1.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:660.96px;
}
#_idContainer018 {
	-ms-transform:translate(349.724px,458.647px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(349.724px,458.647px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:89.13px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(349.724px,458.647px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(349.724px,458.647px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:173.48px;
}
#_idContainer019 {
	-ms-transform:translate(1.000px,2811.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1.000px,2811.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:818.46px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1.000px,2811.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1.000px,2811.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:660.96px;
}
#_idContainer020 {
	-ms-transform:translate(-11.120px,4602.619px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(-11.120px,4602.619px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:539.46px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-11.120px,4602.619px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(-11.120px,4602.619px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:567.00px;
}
#_idContainer021 {
	-ms-transform:translate(236.575px,4569.367px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(236.575px,4569.367px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:32.25px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(236.575px,4569.367px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(236.575px,4569.367px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:283.14px;
}
#_idContainer022 {
	-ms-transform:translate(46.019px,5182.433px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(46.019px,5182.433px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:389.57px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(46.019px,5182.433px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(46.019px,5182.433px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:441.96px;
}
#_idContainer023 {
	-ms-transform:translate(278.580px,5760.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(278.580px,5760.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:780.19px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(278.580px,5760.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(278.580px,5760.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:255.42px;
}
#_idContainer024 {
	-ms-transform:translate(15.000px,6961.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(15.000px,6961.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:320.35px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(15.000px,6961.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(15.000px,6961.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:504.00px;
}
#_idContainer025 {
	-ms-transform:translate(15.000px,6583.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(15.000px,6583.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:354.24px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(15.000px,6583.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(15.000px,6583.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:504.00px;
}
#_idContainer026 {
	-ms-transform:translate(278.580px,6537.560px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(278.580px,6537.560px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:71.21px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(278.580px,6537.560px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(278.580px,6537.560px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:152.64px;
}
#_idContainer027 {
	-ms-transform:translate(12.578px,4.718px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(12.578px,4.718px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:9.56px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(12.578px,4.718px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(12.578px,4.718px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:6.00px;
}
#_idContainer028 {
	-ms-transform:translate(0.000px,4.048px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,4.048px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:8.49px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,4.048px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,4.048px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:6.00px;
}
#_idContainer029 {
	-ms-transform:translate(4.257px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(4.257px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:11.20px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(4.257px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(4.257px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:9.08px;
}
#_idContainer030 {
	-ms-transform:translate(3.269px,4.553px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(3.269px,4.553px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:15.64px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(3.269px,4.553px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(3.269px,4.553px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:9.41px;
}
#_idContainer031 {
	-ms-transform:translate(1616.339px,18264.599px) rotate(0.000deg) skew(0.000deg) scale(20.000,20.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1616.339px,18264.599px) rotate(0.000deg) skew(0.000deg) scale(20.000,20.000);
	-webkit-transform-origin:0% 0%;
	height:17.57px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1616.339px,18264.599px) rotate(0.000deg) skew(0.000deg) scale(20.000,20.000);
	transform:translate(1616.339px,18264.599px) rotate(0.000deg) skew(0.000deg) scale(20.000,20.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:18.58px;
}
#_idContainer032 {
	-ms-transform:translate(36.000px,7345.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(36.000px,7345.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1153.44px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(36.000px,7345.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(36.000px,7345.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:416.86px;
}
img._idGenObjectAttribute-1 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
img._idGenObjectAttribute-2 {
	left:0px;
	position:absolute;
	top:0px;
}
div._idGenObjectStyle-Disabled {
	background-color:transparent;
	border-width:0px;
}
