body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
	text-rendering:optimizeSpeed;
}
div.Basic-Text-Frame {
	border-style:solid;
}
p.ParaOverride-1 {
	line-height:1;
	white-space:nowrap;
}
span.CharOverride-1 {
	color:#000000;
	font-family:"Avenir Next Ultra Light", sans-serif;
	font-size:1265.5px;
	font-style:normal;
	font-weight:200;
	text-transform:uppercase;
}
span.CharOverride-2 {
	color:#339f25;
	font-family:"Avenir Next Ultra Light", sans-serif;
	font-size:3543.5px;
	font-style:normal;
	font-weight:200;
	text-transform:uppercase;
}
span.CharOverride-3 {
	color:#000000;
	font-family:"Avenir Next Heavy", sans-serif;
	font-size:379.7px;
	font-style:normal;
	font-weight:900;
	text-transform:uppercase;
}
span.CharOverride-4 {
	color:#000000;
	font-family:"Avenir Next Condensed Demi Bold", sans-serif;
	font-size:379.7px;
	font-style:normal;
	font-weight:600;
	text-transform:uppercase;
}
span.CharOverride-5 {
	color:#339f25;
	font-family:"Avenir Next Heavy", sans-serif;
	font-size:2092.4px;
	font-style:normal;
	font-weight:900;
}
span.CharOverride-6 {
	color:#000000;
	font-family:"Century Old Style Std", serif;
	font-size:680px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-7 {
	color:#339f25;
	font-family:"Avenir Next Demi Bold", sans-serif;
	font-size:760px;
	font-style:normal;
	font-weight:600;
	text-transform:uppercase;
}
#_idContainer000 {
	-ms-transform:translate(48.000px,105.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(48.000px,105.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:717.20px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(48.000px,105.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(48.000px,105.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:184.00px;
}
#_idContainer001 {
	-ms-transform:translate(48.276px,851.053px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(48.276px,851.053px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:227.26px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(48.276px,851.053px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(48.276px,851.053px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:295.30px;
}
#_idContainer002 {
	-ms-transform:translate(31.402px,998.956px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(31.402px,998.956px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:658.39px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(31.402px,998.956px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(31.402px,998.956px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:484.60px;
}
#_idContainer003 {
	-ms-transform:translate(274.696px,411.203px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(274.696px,411.203px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:666.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(274.696px,411.203px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(274.696px,411.203px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:295.30px;
}
#_idContainer004 {
	-ms-transform:translate(6.289px,1.859px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(6.289px,1.859px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:5.78px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(6.289px,1.859px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(6.289px,1.859px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:3.00px;
}
#_idContainer005 {
	-ms-transform:translate(-0.001px,2.524px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(-0.001px,2.524px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:3.25px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-0.001px,2.524px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(-0.001px,2.524px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:2.40px;
}
#_idContainer006 {
	-ms-transform:translate(2.128px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(2.128px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:5.60px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(2.128px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(2.128px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:4.54px;
}
#_idContainer007 {
	-ms-transform:translate(1.634px,1.776px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1.634px,1.776px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:8.01px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1.634px,1.776px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1.634px,1.776px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:4.71px;
}
#_idContainer008 {
	-ms-transform:translate(7103.175px,145702.658px) rotate(0.000deg) skew(0.000deg) scale(20.000,20.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(7103.175px,145702.658px) rotate(0.000deg) skew(0.000deg) scale(20.000,20.000);
	-webkit-transform-origin:0% 0%;
	height:8.79px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(7103.175px,145702.658px) rotate(0.000deg) skew(0.000deg) scale(20.000,20.000);
	transform:translate(7103.175px,145702.658px) rotate(0.000deg) skew(0.000deg) scale(20.000,20.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:9.29px;
}
#_idContainer009 {
	-ms-transform:translate(35.999px,1651.295px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(35.999px,1651.295px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:7409.91px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(35.999px,1651.295px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(35.999px,1651.295px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:462.00px;
}
img._idGenObjectAttribute-1 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
img._idGenObjectAttribute-2 {
	left:0px;
	position:absolute;
	top:0px;
}
div._idGenObjectStyle-Disabled {
	background-color:transparent;
	border-width:0px;
}
