body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
	text-rendering:optimizeSpeed;
}
div.Basic-Text-Frame {
	border-style:solid;
}
p.ParaOverride-1 {
	line-height:1;
	white-space:nowrap;
}
span.CharOverride-1 {
	color:#6e97be;
	font-family:"Avenir Next Heavy", sans-serif;
	font-size:3562.2px;
	font-style:normal;
	font-weight:900;
}
span.CharOverride-2 {
	color:#000000;
	font-family:"Century Old Style Std", serif;
	font-size:905.6px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-3 {
	color:#ffffff;
	font-family:"Bodoni 72 Oldstyle", serif;
	font-size:2368.5px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-4 {
	color:#ffffff;
	font-family:"Avenir Next Heavy", sans-serif;
	font-size:1393.2px;
	font-style:normal;
	font-weight:900;
	text-transform:uppercase;
}
span.CharOverride-5 {
	color:#ffffff;
	font-family:"Avenir Next Heavy", sans-serif;
	font-size:1393.2px;
	font-style:italic;
	font-weight:900;
	text-transform:uppercase;
}
span.CharOverride-6 {
	color:#ffffff;
	font-family:"Avenir Next Heavy", sans-serif;
	font-size:2995.5px;
	font-style:normal;
	font-weight:900;
	text-transform:uppercase;
}
span.CharOverride-7 {
	-webkit-text-stroke-color:#5b7d9c;
	-webkit-text-stroke-width:8.7px;
	color:#ffffff;
	font-family:"Bodoni 72 Oldstyle", serif;
	font-size:2368.5px;
	font-style:normal;
	font-weight:normal;
	text-stroke-color:#5b7d9c;
	text-stroke-width:8.7px;
}
span.CharOverride-8 {
	-webkit-text-stroke-color:#5b7d9c;
	-webkit-text-stroke-width:8.7px;
	color:#ffffff;
	font-family:"Avenir Next Ultra Light", sans-serif;
	font-size:1253.9px;
	font-style:normal;
	font-weight:200;
	text-stroke-color:#5b7d9c;
	text-stroke-width:8.7px;
}
span.CharOverride-9 {
	color:#ffffff;
	font-family:"Avenir Next Condensed Demi Bold", sans-serif;
	font-size:627px;
	font-style:normal;
	font-weight:600;
	text-transform:uppercase;
}
span.CharOverride-10 {
	color:#228bbc;
	font-family:"Avenir Next Demi Bold", sans-serif;
	font-size:760px;
	font-style:normal;
	font-weight:600;
}
span.CharOverride-11 {
	color:#000000;
	font-family:"Century Old Style Std", serif;
	font-size:680px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-12 {
	color:#5b7d9c;
	font-family:"Avenir Next Demi Bold", sans-serif;
	font-size:760px;
	font-style:normal;
	font-weight:600;
}
#_idContainer000 {
	-ms-transform:translate(-0.001px,210.065px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(-0.001px,210.065px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:2787.50px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-0.001px,210.065px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(-0.001px,210.065px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:2500.00px;
}
#_idContainer001 {
	-ms-transform:translate(976.068px,3048.186px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(976.068px,3048.186px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1625.85px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(976.068px,3048.186px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(976.068px,3048.186px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1487.93px;
}
#_idContainer002 {
	-ms-transform:translate(963.999px,2492.998px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(963.999px,2492.998px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:535.89px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(963.999px,2492.998px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(963.999px,2492.998px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1429.47px;
}
#_idContainer003 {
	-ms-transform:translate(6.289px,1.859px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(6.289px,1.859px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:5.78px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(6.289px,1.859px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(6.289px,1.859px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:3.00px;
}
#_idContainer004 {
	-ms-transform:translate(-0.001px,2.524px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(-0.001px,2.524px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:3.25px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-0.001px,2.524px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(-0.001px,2.524px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:2.40px;
}
#_idContainer005 {
	-ms-transform:translate(2.128px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(2.128px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:5.60px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(2.128px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(2.128px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:4.54px;
}
#_idContainer006 {
	-ms-transform:translate(1.634px,1.776px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1.634px,1.776px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:8.01px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1.634px,1.776px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1.634px,1.776px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:4.71px;
}
#_idContainer007 {
	-ms-transform:translate(37405.052px,62376.258px) rotate(0.000deg) skew(0.000deg) scale(20.000,20.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(37405.052px,62376.258px) rotate(0.000deg) skew(0.000deg) scale(20.000,20.000);
	-webkit-transform-origin:0% 0%;
	height:8.79px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(37405.052px,62376.258px) rotate(0.000deg) skew(0.000deg) scale(20.000,20.000);
	transform:translate(37405.052px,62376.258px) rotate(0.000deg) skew(0.000deg) scale(20.000,20.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:9.29px;
}
#_idContainer008 {
	-ms-transform:translate(63.999px,5114.315px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(63.999px,5114.315px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/7.png);
	background-repeat:no-repeat;
	background-size:cover;
	height:4542.68px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(63.999px,5114.315px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(63.999px,5114.315px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:2418.00px;
}
#_idContainer009 {
	-ms-transform:translate(642.319px,4749.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(642.319px,4749.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1538.55px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(642.319px,4749.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(642.319px,4749.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1097.53px;
}
#_idContainer010 {
	-ms-transform:translate(565.000px,4837.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(565.000px,4837.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1530.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(565.000px,4837.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(565.000px,4837.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1268.00px;
}
img._idGenObjectAttribute-1 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
img._idGenObjectAttribute-2 {
	left:0px;
	position:absolute;
	top:0px;
}
div._idGenObjectStyle-Disabled {
	background-color:transparent;
	border-width:0px;
}
