body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
	text-rendering:optimizeSpeed;
}
div.Basic-Text-Frame {
	border-style:solid;
}
div.labyrinths {
	border-style:solid;
}
p.ParaOverride-1 {
	line-height:1;
	white-space:nowrap;
}
span.CharOverride-1 {
	color:#f5a54d;
	font-family:"Leonardo Ultra Light", sans-serif;
	font-size:7673.6px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-2 {
	-webkit-text-stroke-color:#000000;
	-webkit-text-stroke-width:2px;
	color:#000000;
	font-family:"Avenir Next Ultra Light", sans-serif;
	font-size:426.1px;
	font-style:normal;
	font-weight:200;
	text-stroke-color:#000000;
	text-stroke-width:2px;
}
span.CharOverride-3 {
	-webkit-text-stroke-color:#000000;
	-webkit-text-stroke-width:2px;
	color:#000000;
	font-family:"Century Old Style Std", serif;
	font-size:426.1px;
	font-style:normal;
	font-weight:normal;
	text-stroke-color:#000000;
	text-stroke-width:2px;
}
span.CharOverride-4 {
	color:#cccccc;
	font-family:"Futura Bk BT", sans-serif;
	font-size:286.8px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-5 {
	color:#f09026;
	font-family:"Avenir Next Condensed Demi Bold", sans-serif;
	font-size:600px;
	font-style:normal;
	font-weight:600;
	text-transform:uppercase;
}
span.CharOverride-6 {
	color:#e38b0e;
	font-family:"Leonardo Ultra Light", sans-serif;
	font-size:7101px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-7 {
	color:#e38b0e;
	font-family:"Bodoni 72 Oldstyle", serif;
	font-size:1582.7px;
	font-style:normal;
	font-weight:bold;
	text-transform:uppercase;
}
span.CharOverride-8 {
	color:#e38b0e;
	font-family:Leonardo, sans-serif;
	font-size:1582.7px;
	font-style:normal;
	font-weight:normal;
	text-transform:uppercase;
}
span.CharOverride-9 {
	color:#e38b0e;
	font-family:"Bodoni 72 Oldstyle", serif;
	font-size:937.9px;
	font-style:normal;
	font-weight:normal;
	text-transform:uppercase;
}
span.CharOverride-10 {
	color:#f6c889;
	font-family:Leonardo, sans-serif;
	font-size:5826.4px;
	font-style:normal;
	font-weight:normal;
	text-transform:uppercase;
}
span.CharOverride-11 {
	color:#df8100;
	font-family:"Avenir Next Heavy", sans-serif;
	font-size:589.4px;
	font-style:normal;
	font-weight:900;
}
span.CharOverride-12 {
	color:#1e4b99;
	font-family:"Bodoni 72 Oldstyle", serif;
	font-size:800px;
	font-style:normal;
	font-weight:bold;
	text-transform:uppercase;
}
span.CharOverride-13 {
	color:#df8100;
	font-family:"Avenir Next Demi Bold", sans-serif;
	font-size:700px;
	font-style:normal;
	font-weight:600;
	text-transform:uppercase;
}
span.CharOverride-14 {
	color:#df8100;
	font-family:"Avenir Next", sans-serif;
	font-size:560px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-15 {
	color:#000000;
	font-family:"Avenir Next", sans-serif;
	font-size:560px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-16 {
	color:#000000;
	font-family:"Avenir Next Demi Bold", sans-serif;
	font-size:560px;
	font-style:normal;
	font-weight:600;
}
span.CharOverride-17 {
	color:#cccccc;
	font-family:"Futura Bk BT", sans-serif;
	font-size:343.8px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-18 {
	color:#e6e6e6;
	font-family:"Futura Bk BT", sans-serif;
	font-size:343.8px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-19 {
	color:#333333;
	font-family:"Futura Bk BT", sans-serif;
	font-size:343.8px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-20 {
	color:#000000;
	font-family:"Century Old Style Std", serif;
	font-size:560px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-21 {
	color:#413f36;
	font-family:"Avenir Next Demi Bold", sans-serif;
	font-size:560px;
	font-style:normal;
	font-weight:600;
}
#_idContainer000 {
	-ms-transform:translate(-0.001px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(-0.001px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1363.96px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-0.001px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(-0.001px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1818.55px;
}
#_idContainer001 {
	-ms-transform:translate(1846.000px,103.313px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1846.000px,103.313px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1063.46px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1846.000px,103.313px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1846.000px,103.313px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:471.01px;
}
#_idContainer002 {
	-ms-transform:translate(1795.433px,1357.811px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1795.433px,1357.811px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:42.53px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1795.433px,1357.811px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1795.433px,1357.811px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:306.79px;
}
#_idContainer003 {
	-ms-transform:translate(514.316px,1076.315px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(514.316px,1076.315px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:95.44px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(514.316px,1076.315px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(514.316px,1076.315px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:743.68px;
}
#_idContainer004 {
	-ms-transform:translate(207.628px,779.757px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(207.628px,779.757px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:401.76px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(207.628px,779.757px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(207.628px,779.757px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:305.50px;
}
#_idContainer005 {
	-ms-transform:translate(513.127px,931.247px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(513.127px,931.247px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:143.79px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(513.127px,931.247px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(513.127px,931.247px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1676.32px;
}
#_idContainer006 {
	-ms-transform:translate(118.000px,3361.995px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(118.000px,3361.995px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:400.53px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(118.000px,3361.995px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(118.000px,3361.995px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:517.38px;
}
#_idContainer007 {
	-ms-transform:translate(0.000px,1502.651px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,1502.651px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:575.08px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,1502.651px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,1502.651px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:575.08px;
}
#_idContainer008 {
	-ms-transform:translate(0.000px,2087.162px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,2087.162px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:575.08px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,2087.162px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,2087.162px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:575.08px;
}
#_idContainer009 {
	-ms-transform:translate(0.000px,2671.673px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,2671.673px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:575.08px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,2671.673px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,2671.673px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:575.08px;
}
#_idContainer010 {
	-ms-transform:translate(584.511px,1502.651px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(584.511px,1502.651px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:575.08px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(584.511px,1502.651px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(584.511px,1502.651px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:575.08px;
}
#_idContainer011 {
	-ms-transform:translate(584.511px,2087.162px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(584.511px,2087.162px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:575.08px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(584.511px,2087.162px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(584.511px,2087.162px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:575.08px;
}
#_idContainer012 {
	-ms-transform:translate(584.511px,2671.673px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(584.511px,2671.673px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:575.08px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(584.511px,2671.673px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(584.511px,2671.673px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:575.08px;
}
#_idContainer013 {
	-ms-transform:translate(529.988px,2011.026px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(529.988px,2011.026px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:58.35px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(529.988px,2011.026px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(529.988px,2011.026px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:70.48px;
}
#_idContainer014 {
	-ms-transform:translate(530.875px,2032.536px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(530.875px,2032.536px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFwAAABgCAYAAACQVxWOAAAACXBIWXMAABcRAAAXEQHKJvM/AAAA+0lEQVR4Xu3SsQ0DQQwDQb3xjbn/mgy5hEsOG83EjBZ8dnfofE4D7npnfi4e8vCY4DHBY4LHBI8JHhM8JnhM8JjgMcFjgscEjwkeEzwmeEzwmOAxwWOCxwSPCR4TPCZ4TPCY4DHBY4LHBI8JHhM8JnhM8JjgMcFjgscEjwkeEzwmeEzwmOAxwWOCxwSPCR4TPCZ4TPCY4DHBY4LHBI8JHhM8JnhM8JjgMcFjgscEjwkeEzwmeEzwmOAxwWOCxwSPCR4TPCZ4TPCY4DHBY4LHBI8JHhM8JnhM8JjgMcFjgscEjwkeEzwmeEzwmOAxwWPvzHxPI+55dve04aI/AiYI+t1+XIEAAAAASUVORK5CYII=);
	background-repeat:no-repeat;
	background-size:cover;
	height:46.21px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(530.875px,2032.536px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(530.875px,2032.536px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:44.21px;
}
#_idContainer015 {
	-ms-transform:translate(530.875px,2617.039px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(530.875px,2617.039px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFwAAABgCAYAAACQVxWOAAAACXBIWXMAABcRAAAXEQHKJvM/AAAA+0lEQVR4Xu3SsQ0DQQwDQb3xjbn/mgy5hEsOG83EjBZ8dnfofE4D7npnfi4e8vCY4DHBY4LHBI8JHhM8JnhM8JjgMcFjgscEjwkeEzwmeEzwmOAxwWOCxwSPCR4TPCZ4TPCY4DHBY4LHBI8JHhM8JnhM8JjgMcFjgscEjwkeEzwmeEzwmOAxwWOCxwSPCR4TPCZ4TPCY4DHBY4LHBI8JHhM8JnhM8JjgMcFjgscEjwkeEzwmeEzwmOAxwWOCxwSPCR4TPCZ4TPCY4DHBY4LHBI8JHhM8JnhM8JjgMcFjgscEjwkeEzwmeEzwmOAxwWPvzHxPI+55dve04aI/AiYI+t1+XIEAAAAASUVORK5CYII=);
	background-repeat:no-repeat;
	background-size:cover;
	height:46.21px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(530.875px,2617.039px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(530.875px,2617.039px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:44.21px;
}
#_idContainer016 {
	-ms-transform:translate(530.875px,3201.550px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(530.875px,3201.550px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFwAAABgCAYAAACQVxWOAAAACXBIWXMAABcRAAAXEQHKJvM/AAAA+0lEQVR4Xu3SsQ0DQQwDQb3xjbn/mgy5hEsOG83EjBZ8dnfofE4D7npnfi4e8vCY4DHBY4LHBI8JHhM8JnhM8JjgMcFjgscEjwkeEzwmeEzwmOAxwWOCxwSPCR4TPCZ4TPCY4DHBY4LHBI8JHhM8JnhM8JjgMcFjgscEjwkeEzwmeEzwmOAxwWOCxwSPCR4TPCZ4TPCY4DHBY4LHBI8JHhM8JnhM8JjgMcFjgscEjwkeEzwmeEzwmOAxwWOCxwSPCR4TPCZ4TPCY4DHBY4LHBI8JHhM8JnhM8JjgMcFjgscEjwkeEzwmeEzwmOAxwWPvzHxPI+55dve04aI/AiYI+t1+XIEAAAAASUVORK5CYII=);
	background-repeat:no-repeat;
	background-size:cover;
	height:46.21px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(530.875px,3201.550px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(530.875px,3201.550px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:44.21px;
}
#_idContainer017 {
	-ms-transform:translate(584.117px,2032.536px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(584.117px,2032.536px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFwAAABgCAYAAACQVxWOAAAACXBIWXMAABcRAAAXEQHKJvM/AAAA+klEQVR4Xu3SsQ3EQAwEMfnhxtx/UfoSLjlMRMYbDfbZ3aHzOw24650ZFw95eEzwmOAxwWOCxwSPCR4TPCZ4TPCY4DHBY4LHBI8JHhM8JnhM8JjgMcFjgscEjwkeEzwmeEzwmOAxwWOCxwSPCR4TPCZ4TPCY4DHBY4LHBI8JHhM8JnhM8JjgMcFjgscEjwkeEzwmeEzwmOAxwWOCxwSPCR4TPCZ4TPCY4DHBY4LHBI8JHhM8JnhM8JjgMcFjgscEjwkeEzwmeEzwmOAxwWOCxwSPCR4TPCZ4TPCY4DHBY4LHBI8JHhM8JnhM8JjgsXdmvtOIe57dPW246A8VvQf9Uq9azAAAAABJRU5ErkJggg==);
	background-repeat:no-repeat;
	background-size:cover;
	height:46.21px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(584.117px,2032.536px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(584.117px,2032.536px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:44.21px;
}
#_idContainer018 {
	-ms-transform:translate(583.896px,2617.039px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(583.896px,2617.039px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFwAAABgCAYAAACQVxWOAAAACXBIWXMAABcRAAAXEQHKJvM/AAAA+klEQVR4Xu3SsQ3EQAwEMfnhxtx/UfoSLjlMRMYbDfbZ3aHzOw24650ZFw95eEzwmOAxwWOCxwSPCR4TPCZ4TPCY4DHBY4LHBI8JHhM8JnhM8JjgMcFjgscEjwkeEzwmeEzwmOAxwWOCxwSPCR4TPCZ4TPCY4DHBY4LHBI8JHhM8JnhM8JjgMcFjgscEjwkeEzwmeEzwmOAxwWOCxwSPCR4TPCZ4TPCY4DHBY4LHBI8JHhM8JnhM8JjgMcFjgscEjwkeEzwmeEzwmOAxwWOCxwSPCR4TPCZ4TPCY4DHBY4LHBI8JHhM8JnhM8JjgsXdmvtOIe57dPW246A8VvQf9Uq9azAAAAABJRU5ErkJggg==);
	background-repeat:no-repeat;
	background-size:cover;
	height:46.21px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(583.896px,2617.039px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(583.896px,2617.039px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:44.21px;
}
#_idContainer019 {
	-ms-transform:translate(583.896px,3201.550px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(583.896px,3201.550px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFwAAABgCAYAAACQVxWOAAAACXBIWXMAABcRAAAXEQHKJvM/AAAA+klEQVR4Xu3SsQ3EQAwEMfnhxtx/UfoSLjlMRMYbDfbZ3aHzOw24650ZFw95eEzwmOAxwWOCxwSPCR4TPCZ4TPCY4DHBY4LHBI8JHhM8JnhM8JjgMcFjgscEjwkeEzwmeEzwmOAxwWOCxwSPCR4TPCZ4TPCY4DHBY4LHBI8JHhM8JnhM8JjgMcFjgscEjwkeEzwmeEzwmOAxwWOCxwSPCR4TPCZ4TPCY4DHBY4LHBI8JHhM8JnhM8JjgMcFjgscEjwkeEzwmeEzwmOAxwWOCxwSPCR4TPCZ4TPCY4DHBY4LHBI8JHhM8JnhM8JjgsXdmvtOIe57dPW246A8VvQf9Uq9azAAAAABJRU5ErkJggg==);
	background-repeat:no-repeat;
	background-size:cover;
	height:46.21px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(583.896px,3201.550px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(583.896px,3201.550px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:44.21px;
}
#_idContainer020 {
	-ms-transform:translate(166.078px,3436.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(166.078px,3436.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1598.52px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(166.078px,3436.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(166.078px,3436.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:501.92px;
}
#_idContainer021 {
	-ms-transform:translate(1138.494px,1606.143px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1138.494px,1606.143px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:37.32px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1138.494px,1606.143px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1138.494px,1606.143px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:159.14px;
}
#_idContainer022 {
	-ms-transform:translate(1138.494px,2192.679px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1138.494px,2192.679px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:37.32px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1138.494px,2192.679px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1138.494px,2192.679px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:159.14px;
}
#_idContainer023 {
	-ms-transform:translate(1138.494px,2823.849px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1138.494px,2823.849px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:37.32px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1138.494px,2823.849px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1138.494px,2823.849px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:159.14px;
}
#_idContainer024 {
	-ms-transform:translate(-4.493px,1606.143px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(-4.493px,1606.143px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:37.32px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-4.493px,1606.143px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(-4.493px,1606.143px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:159.14px;
}
#_idContainer025 {
	-ms-transform:translate(-4.493px,2192.679px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(-4.493px,2192.679px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:37.32px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-4.493px,2192.679px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(-4.493px,2192.679px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:159.14px;
}
#_idContainer026 {
	-ms-transform:translate(-4.493px,2774.731px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(-4.493px,2774.731px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:37.32px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-4.493px,2774.731px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(-4.493px,2774.731px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:159.14px;
}
#_idContainer027 {
	-ms-transform:translate(6.289px,1.859px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(6.289px,1.859px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:5.78px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(6.289px,1.859px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(6.289px,1.859px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:3.00px;
}
#_idContainer028 {
	-ms-transform:translate(-0.001px,1.524px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(-0.001px,1.524px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:5.25px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-0.001px,1.524px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(-0.001px,1.524px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:3.00px;
}
#_idContainer029 {
	-ms-transform:translate(2.128px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(2.128px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:5.60px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(2.128px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(2.128px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:4.54px;
}
#_idContainer030 {
	-ms-transform:translate(1.634px,1.776px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1.634px,1.776px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:8.01px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1.634px,1.776px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1.634px,1.776px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:4.71px;
}
#_idContainer031 {
	-ms-transform:translate(20813.703px,50653.818px) rotate(0.000deg) skew(0.000deg) scale(20.000,20.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(20813.703px,50653.818px) rotate(0.000deg) skew(0.000deg) scale(20.000,20.000);
	-webkit-transform-origin:0% 0%;
	height:8.79px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(20813.703px,50653.818px) rotate(0.000deg) skew(0.000deg) scale(20.000,20.000);
	transform:translate(20813.703px,50653.818px) rotate(0.000deg) skew(0.000deg) scale(20.000,20.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:9.29px;
}
#_idContainer032 {
	-ms-transform:translate(1249.566px,1499.141px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1249.566px,1499.141px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:2854.69px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1249.566px,1499.141px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1249.566px,1499.141px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1095.45px;
}
img._idGenObjectAttribute-1 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
img._idGenObjectAttribute-2 {
	left:0px;
	position:absolute;
	top:0px;
}
div._idGenObjectStyle-Disabled {
	background-color:transparent;
	border-width:0px;
}
