body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
	text-rendering:optimizeSpeed;
}
div.Basic-Text-Frame {
	border-style:solid;
}
p.ParaOverride-1 {
	line-height:1;
	white-space:nowrap;
}
span.CharOverride-1 {
	color:#000000;
	font-family:"Century Old Style Std", serif;
	font-size:400px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-2 {
	color:#000000;
	font-family:"Century Old Style Std", serif;
	font-size:400px;
	font-style:italic;
	font-weight:normal;
}
span.CharOverride-3 {
	color:#413f36;
	font-family:"Avenir Next Demi Bold", sans-serif;
	font-size:400px;
	font-style:normal;
	font-weight:600;
}
span.CharOverride-4 {
	color:#d60010;
	font-family:"Avenir Next Ultra Light", sans-serif;
	font-size:844px;
	font-style:normal;
	font-weight:200;
	text-transform:uppercase;
}
span.CharOverride-5 {
	color:#ffffff;
	font-family:"Avenir Next", sans-serif;
	font-size:145.7px;
	font-style:normal;
	font-weight:normal;
	text-transform:uppercase;
}
span.CharOverride-6 {
	color:#d60010;
	font-family:"Avenir Next Heavy", sans-serif;
	font-size:720px;
	font-style:normal;
	font-weight:900;
}
span.CharOverride-7 {
	color:#000000;
	font-family:"Avenir Next Condensed Demi Bold", sans-serif;
	font-size:300px;
	font-style:normal;
	font-weight:600;
	text-transform:uppercase;
}
span.CharOverride-8 {
	color:#d60010;
	font-family:"Avenir Next Heavy", sans-serif;
	font-size:497.9px;
	font-style:normal;
	font-weight:900;
}
span.CharOverride-9 {
	color:#1e4b99;
	font-family:"Bodoni 72 Oldstyle", serif;
	font-size:800px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-10 {
	color:#1e4b99;
	font-family:"Avenir Next", sans-serif;
	font-size:400px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-11 {
	color:#000000;
	font-family:"Avenir Next", sans-serif;
	font-size:400px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-12 {
	color:#000000;
	font-family:"Avenir Next", sans-serif;
	font-size:400px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-13 {
	color:#d60010;
	font-family:"Avenir Next Heavy", sans-serif;
	font-size:960px;
	font-style:normal;
	font-weight:900;
}
span.CharOverride-14 {
	color:#333333;
	font-family:"Avenir Next", sans-serif;
	font-size:374.8px;
	font-style:normal;
	font-weight:normal;
	text-transform:uppercase;
}
span.CharOverride-15 {
	color:#333333;
	font-family:"Avenir Next", sans-serif;
	font-size:298.9px;
	font-style:normal;
	font-weight:normal;
	text-transform:uppercase;
}
span.CharOverride-16 {
	color:#1e4b99;
	font-family:"Bodoni 72 Oldstyle", serif;
	font-size:739.8px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-17 {
	color:#413f36;
	font-family:"Avenir Next Demi Bold", sans-serif;
	font-size:560px;
	font-style:normal;
	font-weight:600;
}
span.CharOverride-18 {
	color:#d60010;
	font-family:"Avenir Next Heavy", sans-serif;
	font-size:775px;
	font-style:normal;
	font-weight:900;
}
#_idContainer000 {
	-ms-transform:translate(65.000px,478.220px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(65.000px,478.220px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:858.78px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(65.000px,478.220px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(65.000px,478.220px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:401.00px;
}
#_idContainer001 {
	-ms-transform:translate(65.000px,1694.220px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(65.000px,1694.220px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1184.78px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(65.000px,1694.220px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(65.000px,1694.220px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:401.00px;
}
#_idContainer002 {
	-ms-transform:translate(7.897px,431.366px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(7.897px,431.366px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:97.46px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(7.897px,431.366px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(7.897px,431.366px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:395.37px;
}
#_idContainer003 {
	-ms-transform:translate(74.372px,68.198px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(74.372px,68.198px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:392.71px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(74.372px,68.198px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(74.372px,68.198px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:442.63px;
}
#_idContainer004 {
	-ms-transform:translate(386.541px,382.347px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(386.541px,382.347px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:48.50px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(386.541px,382.347px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(386.541px,382.347px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:96.47px;
}
#_idContainer005 {
	-ms-transform:translate(29.000px,483.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(29.000px,483.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:418.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(29.000px,483.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(29.000px,483.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:256.00px;
}
#_idContainer006 {
	-ms-transform:translate(251.424px,1393.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(251.424px,1393.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:94.56px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(251.424px,1393.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(251.424px,1393.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:258.58px;
}
#_idContainer007 {
	-ms-transform:translate(229.577px,1541.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(229.577px,1541.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:454.63px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(229.577px,1541.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(229.577px,1541.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:270.42px;
}
#_idContainer008 {
	-ms-transform:translate(17.999px,1458.017px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(17.999px,1458.017px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:147.98px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(17.999px,1458.017px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(17.999px,1458.017px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:205.68px;
}
#_idContainer009 {
	-ms-transform:translate(65.000px,2907.271px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(65.000px,2907.271px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:959.73px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(65.000px,2907.271px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(65.000px,2907.271px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:351.09px;
}
#_idContainer010 {
	-ms-transform:translate(-185.000px,3922.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(-185.000px,3922.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:430.29px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-185.000px,3922.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(-185.000px,3922.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:919.57px;
}
#_idContainer011 {
	-ms-transform:translate(65.000px,4510.220px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(65.000px,4510.220px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:530.78px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(65.000px,4510.220px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(65.000px,4510.220px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:401.00px;
}
#_idContainer012 {
	-ms-transform:translate(71.999px,4371.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(71.999px,4371.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:128.60px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(71.999px,4371.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(71.999px,4371.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:455.16px;
}
#_idContainer013 {
	-ms-transform:translate(65.000px,5063.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(65.000px,5063.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:555.69px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(65.000px,5063.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(65.000px,5063.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:433.37px;
}
#_idContainer014 {
	-ms-transform:translate(65.000px,5626.401px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(65.000px,5626.401px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:132.45px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(65.000px,5626.401px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(65.000px,5626.401px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:257.67px;
}
#_idContainer015 {
	-ms-transform:translate(-6.296px,8088.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(-6.296px,8088.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:431.61px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-6.296px,8088.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(-6.296px,8088.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:546.59px;
}
#_idContainer016 {
	-ms-transform:translate(36.000px,8535.309px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(36.000px,8535.309px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:38.96px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(36.000px,8535.309px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(36.000px,8535.309px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:236.50px;
}
#_idContainer017 {
	-ms-transform:translate(65.000px,7695.135px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(65.000px,7695.135px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:436.86px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(65.000px,7695.135px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(65.000px,7695.135px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:395.37px;
}
#_idContainer018 {
	-ms-transform:translate(203.000px,7592.840px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(203.000px,7592.840px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:840.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(203.000px,7592.840px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(203.000px,7592.840px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1.00px;
}
#_idContainer019 {
	-ms-transform:translate(31.683px,5798.078px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(31.683px,5798.078px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:306.61px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(31.683px,5798.078px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(31.683px,5798.078px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:247.39px;
}
#_idContainer020 {
	-ms-transform:translate(227.538px,5919.184px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(227.538px,5919.184px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:288.68px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(227.538px,5919.184px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(227.538px,5919.184px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:304.14px;
}
#_idContainer021 {
	-ms-transform:translate(31.683px,6361.739px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(31.683px,6361.739px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:434.86px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(31.683px,6361.739px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(31.683px,6361.739px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:466.32px;
}
#_idContainer022 {
	-ms-transform:translate(35.999px,6822.220px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(35.999px,6822.220px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:677.85px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(35.999px,6822.220px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(35.999px,6822.220px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:462.00px;
}
#_idContainer023 {
	-ms-transform:translate(31.683px,6135.945px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(31.683px,6135.945px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:208.05px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(31.683px,6135.945px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(31.683px,6135.945px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:326.32px;
}
#_idContainer024 {
	-ms-transform:translate(0.000px,8782.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,8782.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:255.66px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,8782.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,8782.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:536.36px;
}
#_idContainer025 {
	-ms-transform:translate(-479.000px,8688.840px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(-479.000px,8688.840px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:840.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-479.000px,8688.840px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(-479.000px,8688.840px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1.00px;
}
#_idContainer026 {
	-ms-transform:translate(-604.744px,11063.955px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(-604.744px,11063.955px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:840.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-604.744px,11063.955px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(-604.744px,11063.955px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1.00px;
}
#_idContainer027 {
	-ms-transform:translate(-271.500px,11590.024px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(-271.500px,11590.024px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:840.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-271.500px,11590.024px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(-271.500px,11590.024px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1.00px;
}
#_idContainer028 {
	-ms-transform:translate(35.999px,9097.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(35.999px,9097.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:125.52px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(35.999px,9097.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(35.999px,9097.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:517.32px;
}
#_idContainer029 {
	-ms-transform:translate(35.999px,9236.220px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(35.999px,9236.220px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1362.78px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(35.999px,9236.220px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(35.999px,9236.220px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:462.00px;
}
#_idContainer030 {
	-ms-transform:translate(35.999px,10634.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(35.999px,10634.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:242.50px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(35.999px,10634.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(35.999px,10634.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:438.42px;
}
#_idContainer031 {
	-ms-transform:translate(362.362px,10821.454px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(362.362px,10821.454px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:242.50px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(362.362px,10821.454px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(362.362px,10821.454px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:148.17px;
}
#_idContainer032 {
	-ms-transform:translate(-48.244px,11168.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(-48.244px,11168.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:589.37px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-48.244px,11168.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(-48.244px,11168.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:567.00px;
}
#_idContainer033 {
	-ms-transform:translate(6.289px,1.859px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(6.289px,1.859px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:5.78px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(6.289px,1.859px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(6.289px,1.859px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:3.00px;
}
#_idContainer034 {
	-ms-transform:translate(-0.001px,1.524px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(-0.001px,1.524px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:5.25px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-0.001px,1.524px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(-0.001px,1.524px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:3.00px;
}
#_idContainer035 {
	-ms-transform:translate(2.128px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(2.128px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:5.60px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(2.128px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(2.128px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:4.54px;
}
#_idContainer036 {
	-ms-transform:translate(1.634px,1.776px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1.634px,1.776px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:8.01px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1.634px,1.776px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1.634px,1.776px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:4.71px;
}
#_idContainer037 {
	-ms-transform:translate(4981.522px,24735.607px) rotate(0.000deg) skew(0.000deg) scale(20.000,20.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(4981.522px,24735.607px) rotate(0.000deg) skew(0.000deg) scale(20.000,20.000);
	-webkit-transform-origin:0% 0%;
	height:8.79px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(4981.522px,24735.607px) rotate(0.000deg) skew(0.000deg) scale(20.000,20.000);
	transform:translate(4981.522px,24735.607px) rotate(0.000deg) skew(0.000deg) scale(20.000,20.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:9.29px;
}
#_idContainer038 {
	-ms-transform:translate(56.756px,11838.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(56.756px,11838.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1334.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(56.756px,11838.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(56.756px,11838.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:462.00px;
}
img._idGenObjectAttribute-1 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
img._idGenObjectAttribute-2 {
	left:0px;
	position:absolute;
	top:0px;
}
div._idGenObjectStyle-Disabled {
	background-color:transparent;
	border-width:0px;
}
