body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
	text-rendering:optimizeSpeed;
}
div.Basic-Text-Frame {
	border-style:solid;
}
p.ParaOverride-1 {
	line-height:1;
	white-space:nowrap;
}
span.CharOverride-1 {
	color:#000000;
	font-family:"Avenir Next Ultra Light", sans-serif;
	font-size:1135.1px;
	font-style:normal;
	font-weight:200;
}
span.CharOverride-2 {
	color:#000000;
	font-family:"Avenir Next", sans-serif;
	font-size:260px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-3 {
	color:#000000;
	font-family:"Avenir Next", sans-serif;
	font-size:200px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-4 {
	color:#000000;
	font-family:"Avenir Next", sans-serif;
	font-size:160px;
	font-style:italic;
	font-weight:normal;
}
span.CharOverride-5 {
	color:#000000;
	font-family:"Avenir Next", sans-serif;
	font-size:140px;
	font-style:normal;
	font-weight:normal;
}
#_idContainer000 {
	-ms-transform:translate(741.511px,202.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(741.511px,202.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:189.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(741.511px,202.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(741.511px,202.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:211.57px;
}
#_idContainer001 {
	-ms-transform:translate(594.000px,702.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(594.000px,702.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:162.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(594.000px,702.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(594.000px,702.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:180.00px;
}
#_idContainer002 {
	-ms-transform:translate(0.000px,202.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,202.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:189.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,202.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,202.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:211.57px;
}
#_idContainer003 {
	-ms-transform:translate(0.000px,701.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,701.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:162.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,701.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,701.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:180.00px;
}
#_idContainer004 {
	-ms-transform:translate(0.000px,1062.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,1062.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:162.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,1062.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,1062.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:180.00px;
}
#_idContainer005 {
	-ms-transform:translate(247.837px,202.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(247.837px,202.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:189.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(247.837px,202.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(247.837px,202.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:211.57px;
}
#_idContainer006 {
	-ms-transform:translate(198.000px,701.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(198.000px,701.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:162.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(198.000px,701.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(198.000px,701.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:180.00px;
}
#_idContainer007 {
	-ms-transform:translate(198.000px,1062.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(198.000px,1062.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:162.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(198.000px,1062.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(198.000px,1062.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:180.00px;
}
#_idContainer008 {
	-ms-transform:translate(987.348px,202.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(987.348px,202.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:189.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(987.348px,202.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(987.348px,202.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:211.57px;
}
#_idContainer009 {
	-ms-transform:translate(792.000px,702.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(792.000px,702.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:162.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(792.000px,702.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(792.000px,702.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:180.00px;
}
#_idContainer010 {
	-ms-transform:translate(990.000px,702.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(990.000px,702.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:162.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(990.000px,702.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(990.000px,702.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:180.00px;
}
#_idContainer011 {
	-ms-transform:translate(494.674px,202.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(494.674px,202.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:189.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(494.674px,202.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(494.674px,202.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:211.57px;
}
#_idContainer012 {
	-ms-transform:translate(396.000px,702.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(396.000px,702.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:162.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(396.000px,702.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(396.000px,702.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:180.00px;
}
#_idContainer013 {
	-ms-transform:translate(396.000px,1062.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(396.000px,1062.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:162.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(396.000px,1062.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(396.000px,1062.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:180.00px;
}
#_idContainer014 {
	-ms-transform:translate(-4.500px,120.103px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(-4.500px,120.103px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:90.54px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-4.500px,120.103px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(-4.500px,120.103px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:599.33px;
}
#_idContainer015 {
	-ms-transform:translate(-4.828px,619.143px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(-4.828px,619.143px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:115.06px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-4.828px,619.143px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(-4.828px,619.143px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:599.33px;
}
#_idContainer016 {
	-ms-transform:translate(-5.000px,979.863px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(-5.000px,979.863px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:115.06px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-5.000px,979.863px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(-5.000px,979.863px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:599.33px;
}
#_idContainer017 {
	-ms-transform:translate(-0.001px,407.383px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(-0.001px,407.383px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:206.82px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-0.001px,407.383px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(-0.001px,407.383px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:211.57px;
}
#_idContainer018 {
	-ms-transform:translate(0.000px,878.503px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,878.503px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:108.66px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,878.503px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,878.503px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:181.08px;
}
#_idContainer019 {
	-ms-transform:translate(0.000px,1238.503px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,1238.503px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:108.66px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,1238.503px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,1238.503px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:181.08px;
}
#_idContainer020 {
	-ms-transform:translate(247.837px,407.383px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(247.837px,407.383px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:144.18px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(247.837px,407.383px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(247.837px,407.383px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:211.57px;
}
#_idContainer021 {
	-ms-transform:translate(202.320px,878.503px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(202.320px,878.503px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:100.98px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(202.320px,878.503px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(202.320px,878.503px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:180.78px;
}
#_idContainer022 {
	-ms-transform:translate(198.000px,1238.503px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(198.000px,1238.503px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:100.98px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(198.000px,1238.503px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(198.000px,1238.503px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:180.78px;
}
#_idContainer023 {
	-ms-transform:translate(495.212px,407.383px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(495.212px,407.383px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:79.38px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(495.212px,407.383px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(495.212px,407.383px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:211.57px;
}
#_idContainer024 {
	-ms-transform:translate(399.077px,878.503px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(399.077px,878.503px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:100.98px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(399.077px,878.503px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(399.077px,878.503px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:176.93px;
}
#_idContainer025 {
	-ms-transform:translate(396.000px,1238.503px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(396.000px,1238.503px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:100.98px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(396.000px,1238.503px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(396.000px,1238.503px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:176.93px;
}
#_idContainer026 {
	-ms-transform:translate(741.511px,407.383px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(741.511px,407.383px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:79.38px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(741.511px,407.383px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(741.511px,407.383px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:211.57px;
}
#_idContainer027 {
	-ms-transform:translate(594.000px,878.503px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(594.000px,878.503px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:100.98px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(594.000px,878.503px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(594.000px,878.503px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:180.16px;
}
#_idContainer028 {
	-ms-transform:translate(988.425px,407.383px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(988.425px,407.383px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:79.38px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(988.425px,407.383px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(988.425px,407.383px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:211.57px;
}
#_idContainer029 {
	-ms-transform:translate(792.000px,878.503px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(792.000px,878.503px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:108.66px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(792.000px,878.503px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(792.000px,878.503px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:181.08px;
}
#_idContainer030 {
	-ms-transform:translate(990.000px,878.503px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(990.000px,878.503px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:108.66px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(990.000px,878.503px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(990.000px,878.503px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:181.08px;
}
#_idContainer031 {
	-ms-transform:translate(0.000px,539.040px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,539.040px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:51.32px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,539.040px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,539.040px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:53.65px;
}
#_idContainer032 {
	-ms-transform:translate(247.837px,470.320px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(247.837px,470.320px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:51.32px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(247.837px,470.320px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(247.837px,470.320px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:53.65px;
}
#_idContainer033 {
	-ms-transform:translate(0.000px,470.319px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,470.319px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:51.32px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,470.319px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,470.319px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:53.65px;
}
#_idContainer034 {
	-ms-transform:translate(99.360px,391.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(99.360px,391.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:13.96px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(99.360px,391.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(99.360px,391.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:113.04px;
}
#_idContainer035 {
	-ms-transform:translate(264.960px,864.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(264.960px,864.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:13.96px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(264.960px,864.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(264.960px,864.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:113.04px;
}
#_idContainer036 {
	-ms-transform:translate(462.960px,1224.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(462.960px,1224.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:13.96px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(462.960px,1224.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(462.960px,1224.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:113.04px;
}
#_idContainer037 {
	-ms-transform:translate(66.960px,864.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(66.960px,864.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:13.96px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(66.960px,864.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(66.960px,864.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:113.04px;
}
#_idContainer038 {
	-ms-transform:translate(66.960px,1224.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(66.960px,1224.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:13.96px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(66.960px,1224.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(66.960px,1224.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:113.04px;
}
#_idContainer039 {
	-ms-transform:translate(264.960px,1224.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(264.960px,1224.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:13.96px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(264.960px,1224.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(264.960px,1224.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:113.04px;
}
#_idContainer040 {
	-ms-transform:translate(462.960px,864.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(462.960px,864.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:13.96px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(462.960px,864.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(462.960px,864.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:113.04px;
}
#_idContainer041 {
	-ms-transform:translate(660.960px,864.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(660.960px,864.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:13.96px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(660.960px,864.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(660.960px,864.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:113.04px;
}
#_idContainer042 {
	-ms-transform:translate(858.960px,864.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(858.960px,864.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:13.96px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(858.960px,864.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(858.960px,864.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:113.04px;
}
#_idContainer043 {
	-ms-transform:translate(1056.960px,864.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1056.960px,864.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:13.96px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1056.960px,864.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1056.960px,864.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:113.04px;
}
#_idContainer044 {
	-ms-transform:translate(345.959px,391.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(345.959px,391.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:13.96px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(345.959px,391.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(345.959px,391.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:113.04px;
}
#_idContainer045 {
	-ms-transform:translate(592.559px,391.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(592.559px,391.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:13.96px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(592.559px,391.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(592.559px,391.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:113.04px;
}
#_idContainer046 {
	-ms-transform:translate(839.159px,391.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(839.159px,391.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:13.96px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(839.159px,391.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(839.159px,391.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:113.04px;
}
#_idContainer047 {
	-ms-transform:translate(1085.882px,391.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1085.882px,391.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:13.96px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1085.882px,391.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1085.882px,391.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:113.04px;
}
img._idGenObjectAttribute-1 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
img._idGenObjectAttribute-2 {
	left:0px;
	position:absolute;
	top:0px;
}
