body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
	text-rendering:optimizeSpeed;
}
div.Image {
	border-style:solid;
}
div.Basic-Text-Frame {
	border-style:solid;
}
p.ParaOverride-1 {
	line-height:1;
	white-space:nowrap;
}
span.CharOverride-1 {
	color:#000000;
	font-family:"Avenir Next Ultra Light", sans-serif;
	font-size:2724.2px;
	font-style:normal;
	font-weight:200;
}
span.CharOverride-2 {
	color:#000000;
	font-family:"Avenir Next Ultra Light", sans-serif;
	font-size:2173.2px;
	font-style:normal;
	font-weight:200;
}
span.CharOverride-3 {
	color:#000000;
	font-family:"Avenir Next", sans-serif;
	font-size:497.8px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-4 {
	color:#000000;
	font-family:"Avenir Next", sans-serif;
	font-size:440px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-5 {
	color:#000000;
	font-family:"Avenir Next", sans-serif;
	font-size:440px;
	font-style:italic;
	font-weight:normal;
}
span.CharOverride-6 {
	color:#000000;
	font-family:"Avenir Next", sans-serif;
	font-size:519.7px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-7 {
	color:#000000;
	font-family:"Avenir Next", sans-serif;
	font-size:268px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-8 {
	color:#000000;
	font-family:"Avenir Next", sans-serif;
	font-size:240px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-9 {
	color:#000000;
	font-family:"Avenir Next", sans-serif;
	font-size:900px;
	font-style:normal;
	font-weight:normal;
}
#_idContainer000 {
	-ms-transform:translate(602.218px,2123.752px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(602.218px,2123.752px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:455.58px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(602.218px,2123.752px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(602.218px,2123.752px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:510.00px;
}
#_idContainer001 {
	-ms-transform:translate(4.572px,3906.014px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(4.572px,3906.014px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:310.16px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(4.572px,3906.014px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(4.572px,3906.014px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:344.62px;
}
#_idContainer002 {
	-ms-transform:translate(7.815px,204.845px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(7.815px,204.845px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:986.57px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(7.815px,204.845px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(7.815px,204.845px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1104.40px;
}
#_idContainer003 {
	-ms-transform:translate(4.572px,3327.504px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(4.572px,3327.504px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:310.16px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(4.572px,3327.504px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(4.572px,3327.504px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:344.62px;
}
#_idContainer004 {
	-ms-transform:translate(4.572px,4725.952px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(4.572px,4725.952px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:310.16px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(4.572px,4725.952px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(4.572px,4725.952px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:344.62px;
}
#_idContainer005 {
	-ms-transform:translate(602.218px,1465.645px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(602.218px,1465.645px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:455.58px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(602.218px,1465.645px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(602.218px,1465.645px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:510.00px;
}
#_idContainer006 {
	-ms-transform:translate(383.659px,3327.504px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(383.659px,3327.504px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:310.16px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(383.659px,3327.504px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(383.659px,3327.504px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:344.62px;
}
#_idContainer007 {
	-ms-transform:translate(383.659px,4725.952px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(383.659px,4725.952px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:310.16px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(383.659px,4725.952px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(383.659px,4725.952px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:344.62px;
}
#_idContainer008 {
	-ms-transform:translate(11.299px,2122.752px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(11.299px,2122.752px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:455.58px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(11.299px,2122.752px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(11.299px,2122.752px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:510.00px;
}
#_idContainer009 {
	-ms-transform:translate(383.659px,3906.014px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(383.659px,3906.014px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:310.16px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(383.659px,3906.014px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(383.659px,3906.014px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:344.62px;
}
#_idContainer010 {
	-ms-transform:translate(762.747px,3906.014px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(762.747px,3906.014px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:310.16px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(762.747px,3906.014px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(762.747px,3906.014px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:344.62px;
}
#_idContainer011 {
	-ms-transform:translate(11.299px,1465.645px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(11.299px,1465.645px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:455.58px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(11.299px,1465.645px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(11.299px,1465.645px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:510.00px;
}
#_idContainer012 {
	-ms-transform:translate(762.747px,3327.504px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(762.747px,3327.504px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:310.16px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(762.747px,3327.504px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(762.747px,3327.504px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:344.62px;
}
#_idContainer013 {
	-ms-transform:translate(762.747px,4725.952px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(762.747px,4725.952px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:310.16px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(762.747px,4725.952px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(762.747px,4725.952px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:344.62px;
}
#_idContainer014 {
	-ms-transform:translate(-4.500px,8.492px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(-4.500px,8.492px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:214.49px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-4.500px,8.492px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(-4.500px,8.492px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:656.40px;
}
#_idContainer015 {
	-ms-transform:translate(-4.671px,3169.782px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(-4.671px,3169.782px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:171.51px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-4.671px,3169.782px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(-4.671px,3169.782px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:786.56px;
}
#_idContainer016 {
	-ms-transform:translate(-5.001px,4569.609px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(-5.001px,4569.609px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:171.51px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-5.001px,4569.609px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(-5.001px,4569.609px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:786.56px;
}
#_idContainer017 {
	-ms-transform:translate(4.572px,3666.350px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(4.572px,3666.350px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:206.20px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(4.572px,3666.350px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(4.572px,3666.350px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:346.70px;
}
#_idContainer018 {
	-ms-transform:translate(4.572px,5091.717px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(4.572px,5091.717px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:206.20px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(4.572px,5091.717px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(4.572px,5091.717px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:346.70px;
}
#_idContainer019 {
	-ms-transform:translate(391.930px,3666.350px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(391.930px,3666.350px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:191.50px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(391.930px,3666.350px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(391.930px,3666.350px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:346.11px;
}
#_idContainer020 {
	-ms-transform:translate(383.659px,5091.717px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(383.659px,5091.717px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:191.50px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(383.659px,5091.717px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(383.659px,5091.717px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:346.11px;
}
#_idContainer021 {
	-ms-transform:translate(11.299px,1926.743px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(11.299px,1926.743px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:99.22px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(11.299px,1926.743px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(11.299px,1926.743px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:369.57px;
}
#_idContainer022 {
	-ms-transform:translate(768.638px,3666.350px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(768.638px,3666.350px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:191.50px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(768.638px,3666.350px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(768.638px,3666.350px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:338.75px;
}
#_idContainer023 {
	-ms-transform:translate(762.747px,5091.717px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(762.747px,5091.717px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:191.50px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(762.747px,5091.717px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(762.747px,5091.717px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:338.75px;
}
#_idContainer024 {
	-ms-transform:translate(11.299px,2576.172px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(11.299px,2576.172px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:102.70px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(11.299px,2576.172px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(11.299px,2576.172px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:430.70px;
}
#_idContainer025 {
	-ms-transform:translate(11.299px,2994.421px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(11.299px,2994.421px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:124.58px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(11.299px,2994.421px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(11.299px,2994.421px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:242.01px;
}
#_idContainer026 {
	-ms-transform:translate(442.652px,2994.421px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(442.652px,2994.421px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:124.58px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(442.652px,2994.421px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(442.652px,2994.421px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:242.01px;
}
#_idContainer027 {
	-ms-transform:translate(872.000px,2994.421px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(872.000px,2994.421px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:124.58px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(872.000px,2994.421px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(872.000px,2994.421px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:242.01px;
}
#_idContainer028 {
	-ms-transform:translate(4.572px,4244.859px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(4.572px,4244.859px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:191.50px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(4.572px,4244.859px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(4.572px,4244.859px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:344.93px;
}
#_idContainer029 {
	-ms-transform:translate(600.000px,2576.172px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(600.000px,2576.172px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:90.07px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(600.000px,2576.172px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(600.000px,2576.172px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:400.00px;
}
#_idContainer030 {
	-ms-transform:translate(383.659px,4244.859px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(383.659px,4244.859px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:206.20px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(383.659px,4244.859px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(383.659px,4244.859px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:346.70px;
}
#_idContainer031 {
	-ms-transform:translate(762.747px,4244.859px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(762.747px,4244.859px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:206.20px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(762.747px,4244.859px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(762.747px,4244.859px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:346.70px;
}
#_idContainer032 {
	-ms-transform:translate(442.652px,2769.819px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(442.652px,2769.819px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:229.57px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(442.652px,2769.819px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(442.652px,2769.819px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:240.00px;
}
#_idContainer033 {
	-ms-transform:translate(872.000px,2770.080px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(872.000px,2770.080px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:229.57px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(872.000px,2770.080px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(872.000px,2770.080px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:240.00px;
}
#_idContainer034 {
	-ms-transform:translate(13.305px,2769.819px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(13.305px,2769.819px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:229.57px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(13.305px,2769.819px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(13.305px,2769.819px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:240.00px;
}
#_idContainer035 {
	-ms-transform:translate(654.054px,1187.115px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(654.054px,1187.115px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:70.30px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(654.054px,1187.115px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(654.054px,1187.115px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:458.16px;
}
#_idContainer036 {
	-ms-transform:translate(511.860px,3637.666px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(511.860px,3637.666px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:25.81px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(511.860px,3637.666px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(511.860px,3637.666px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:216.42px;
}
#_idContainer037 {
	-ms-transform:translate(890.947px,5063.033px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(890.947px,5063.033px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:25.81px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(890.947px,5063.033px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(890.947px,5063.033px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:216.42px;
}
#_idContainer038 {
	-ms-transform:translate(132.773px,3637.666px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(132.773px,3637.666px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:25.81px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(132.773px,3637.666px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(132.773px,3637.666px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:216.42px;
}
#_idContainer039 {
	-ms-transform:translate(132.773px,5063.033px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(132.773px,5063.033px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:25.81px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(132.773px,5063.033px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(132.773px,5063.033px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:216.42px;
}
#_idContainer040 {
	-ms-transform:translate(511.860px,5063.033px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(511.860px,5063.033px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:25.81px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(511.860px,5063.033px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(511.860px,5063.033px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:216.42px;
}
#_idContainer041 {
	-ms-transform:translate(890.947px,3637.666px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(890.947px,3637.666px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:25.81px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(890.947px,3637.666px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(890.947px,3637.666px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:216.42px;
}
#_idContainer042 {
	-ms-transform:translate(132.773px,4216.176px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(132.773px,4216.176px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:25.81px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(132.773px,4216.176px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(132.773px,4216.176px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:216.42px;
}
#_idContainer043 {
	-ms-transform:translate(511.860px,4216.176px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(511.860px,4216.176px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:25.81px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(511.860px,4216.176px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(511.860px,4216.176px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:216.42px;
}
#_idContainer044 {
	-ms-transform:translate(890.947px,4216.176px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(890.947px,4216.176px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:25.81px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(890.947px,4216.176px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(890.947px,4216.176px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:216.42px;
}
#_idContainer045 {
	-ms-transform:translate(871.957px,1919.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(871.957px,1919.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:33.24px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(871.957px,1919.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(871.957px,1919.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:238.04px;
}
#_idContainer046 {
	-ms-transform:translate(372.000px,1920.985px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(372.000px,1920.985px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:21.24px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(372.000px,1920.985px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(372.000px,1920.985px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:149.30px;
}
#_idContainer047 {
	-ms-transform:translate(945.083px,2578.092px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(945.083px,2578.092px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:28.24px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(945.083px,2578.092px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(945.083px,2578.092px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:167.14px;
}
#_idContainer048 {
	-ms-transform:translate(344.369px,2581.152px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(344.369px,2581.152px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:42.36px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(344.369px,2581.152px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(344.369px,2581.152px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:176.93px;
}
#_idContainer049 {
	-ms-transform:translate(5.000px,1186.101px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(5.000px,1186.101px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:172.79px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(5.000px,1186.101px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(5.000px,1186.101px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1143.38px;
}
#_idContainer050 {
	-ms-transform:translate(601.109px,1919.065px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(601.109px,1919.065px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:147.42px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(601.109px,1919.065px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(601.109px,1919.065px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:507.78px;
}
img._idGenObjectAttribute-1 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
img._idGenObjectAttribute-2 {
	left:0px;
	position:absolute;
	top:0px;
}
